In [19]:
import random
import random
from datetime import datetime, timedelta
import requests
import bs4
from bs4 import BeautifulSoup

chars = 'abcdefghijklmnopqrstuvwxyz'
nums = '1234567890'

# 랜덤 아이디 생성
def random_id(length):
    result = ""
    for i in range(length):
        result += random.choice(chars)
    return result
print(random_id(10))

# 랜덤 이메일
def random_email(length):
    result = ""
    for i in range(length-2):
        result += random.choice(chars)
    result += random.choice(nums)
    result += random.choice(nums)
    result += "@naver.com"
    return result
print(random_email(10))

# 랜덤 전화번호
def random_tel():
    result = "010-"
    for i in range(4):
        result += random.choice(nums)
    result += "-"
    for i in range(4):
        result += random.choice(nums)
    return str(result)
print(random_tel())

# 위키 형용사 크롤링
headers = {"User-Agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/88.0.4324.104 Safari/537.36"}
url = f"https://ko.wiktionary.org/wiki/%EB%B6%84%EB%A5%98:%ED%95%9C%EA%B5%AD%EC%96%B4_%EA%B4%80%ED%98%95%EC%82%AC%ED%98%95(%ED%98%95%EC%9A%A9%EC%82%AC)"
res = requests.get(url, headers = headers)
res.raise_for_status()
soup = BeautifulSoup(res.text, "lxml")
# 형용사 리스트
proList=[]
for i in range(185):
    proList.append(soup.select('ul > li > a')[i].text)
# 명사 리스트
nauList = ['개구리', '귤', '치즈', '햄스터', '구름', '망고', '강아지', '앵두', '비스킷', '우유', '기니피그']
# 랜덤 닉네임
def random_nick():
    result = ""
    result += random.choice(proList)
    result += " "
    result += random.choice(nauList)
    return result
print(random_nick())

# 랜덤 생일
def random_birthday():
    now = datetime.now()
    age = random.randint(18, 40)
    birthday = now - timedelta(days=age*365)
    return birthday.strftime('%Y-%m-%d')
print(random_birthday())

# 랜덤 게임장르
gameList=[0, 1, 2, 3, 4]
def random_genre():
    genres=[]
    genre1 = random.choice(gameList)
    genre2 = random.choice(gameList)
    if genre1 != genre2:
        genres.append(genre1)
        genres.append(genre2)
        return genres
    else:
        return random_genre()
print(random_genre())

vfkqlapaha
mlobwulz96@naver.com
010-3268-1463
쓰디쓴 귤
1994-04-18 14:45:29
[1, 2]

In [47]:
members_id = random_id(10)
password = "1234"
nickname = random_nick()
email = members_id+"@naver.com"
tel = random_tel()
regdate = "sysdate"
birthday = "TO_DATE('%s', 'YYYY-MM-DD')" % random_birthday()
genre1, genre2 = random_genre()

insertQuery = "INSERT INTO members(members_id, password, nickname, email, tel, regdate, birth, genre1, genre2) VALUES('%s', '%s', '%s', '%s', '%s', %s, %s, %s, %s)" % (members_id, password, nickname, email, tel, regdate, birthday, genre1, genre2)
print(members_id, password, nickname, email, tel, regdate)
print(insertQuery)

dvccxusoml 1234 약은 앵두 dvccxusoml@naver.com 010-9732-6447 sysdate
INSERT INTO members(members_id, password, nickname, email, tel, regdate, birth, genre1, genre2) VALUES('dvccxusoml', '1234', '약은 앵두', 'dvccxusoml@naver.com', '010-9732-6447', sysdate, 1988-04-19 14:47:59, 3, 0)

In [48]:
def memberGenerator(times):
    for i in range(times):
        members_id = random_id(10)
        password = "1234"
        nickname = random_nick()
        email = members_id+"@naver.com"
        tel = random_tel()
        regdate = "sysdate"
        birthday = "TO_DATE('%s', 'YYYY-MM-DD')" % random_birthday()
        genre1, genre2 = random_genre()
        
        insertQuery = "INSERT INTO members(members_id, password, nickname, email, tel, regdate, birth, genre1, genre2) VALUES('%s', '%s', '%s', '%s', '%s', %s, %s, %s, %s)" % (members_id, password, nickname, email, tel, regdate, birthday, genre1, genre2)
        print(members_id, password, nickname, email, tel, regdate)
        print(insertQuery)
        
memberGenerator(100)

ijafpvpsms 1234 못생긴 앵두 ijafpvpsms@naver.com 010-3078-6874 sysdate
INSERT INTO members(members_id, password, nickname, email, tel, regdate, birth, genre1, genre2) VALUES('ijafpvpsms', '1234', '못생긴 앵두', 'ijafpvpsms@naver.com', '010-3078-6874', sysdate, 1988-04-19 14:48:49, 2, 3)
sisoltwals 1234 시원찮은 앵두 sisoltwals@naver.com 010-5382-3649 sysdate
INSERT INTO members(members_id, password, nickname, email, tel, regdate, birth, genre1, genre2) VALUES('sisoltwals', '1234', '시원찮은 앵두', 'sisoltwals@naver.com', '010-5382-3649', sysdate, 1995-04-18 14:48:49, 1, 2)
ppfcpsswpv 1234 언짢은 귤 ppfcpsswpv@naver.com 010-2281-7258 sysdate
INSERT INTO members(members_id, password, nickname, email, tel, regdate, birth, genre1, genre2) VALUES('ppfcpsswpv', '1234', '언짢은 귤', 'ppfcpsswpv@naver.com', '010-2281-7258', sysdate, 1985-04-20 14:48:49, 1, 3)
llqmqsalpn 1234 보드라운 귤 llqmqsalpn@naver.com 010-4118-4666 sysdate
INSERT INTO members(members_id, password, nickname, email, tel, regdate, birth, genre1, genre2) VALUES('llqmqsalpn', '1234', '보드라운 귤', 'llqmqsalpn@naver.com', '010-4118-4666', sysdate, 2001-04-16 14:48:49, 2, 1)
alnmtogblv 1234 깨끗한 햄스터 alnmtogblv@naver.com 010-8761-0885 sysdate
INSERT INTO members(members_id, password, nickname, email, tel, regdate, birth, genre1, genre2) VALUES('alnmtogblv', '1234', '깨끗한 햄스터', 'alnmtogblv@naver.com', '010-8761-0885', sysdate, 2005-04-15 14:48:49, 4, 3)
forskqqzrf 1234 싫은 기니피그 forskqqzrf@naver.com 010-2781-1297 sysdate
INSERT INTO members(members_id, password, nickname, email, tel, regdate, birth, genre1, genre2) VALUES('forskqqzrf', '1234', '싫은 기니피그', 'forskqqzrf@naver.com', '010-2781-1297', sysdate, 1992-04-18 14:48:49, 4, 1)
ubmywlfjfx 1234 예쁜 귤 ubmywlfjfx@naver.com 010-0741-2266 sysdate
INSERT INTO members(members_id, password, nickname, email, tel, regdate, birth, genre1, genre2) VALUES('ubmywlfjfx', '1234', '예쁜 귤', 'ubmywlfjfx@naver.com', '010-0741-2266', sysdate, 1986-04-20 14:48:49, 2, 1)
xwfycckgtc 1234 굳은 강아지 xwfycckgtc@naver.com 010-5016-9016 sysdate
INSERT INTO members(members_id, password, nickname, email, tel, regdate, birth, genre1, genre2) VALUES('xwfycckgtc', '1234', '굳은 강아지', 'xwfycckgtc@naver.com', '010-5016-9016', sysdate, 1997-04-17 14:48:49, 2, 1)
muokxiwnia 1234 날카로운 구름 muokxiwnia@naver.com 010-7470-1760 sysdate
INSERT INTO members(members_id, password, nickname, email, tel, regdate, birth, genre1, genre2) VALUES('muokxiwnia', '1234', '날카로운 구름', 'muokxiwnia@naver.com', '010-7470-1760', sysdate, 1990-04-19 14:48:49, 2, 4)
fwbkskfawa 1234 그리운 비스킷 fwbkskfawa@naver.com 010-0400-9271 sysdate
INSERT INTO members(members_id, password, nickname, email, tel, regdate, birth, genre1, genre2) VALUES('fwbkskfawa', '1234', '그리운 비스킷', 'fwbkskfawa@naver.com', '010-0400-9271', sysdate, 1986-04-20 14:48:49, 1, 2)
odmuqdrjvx 1234 재미있는 귤 odmuqdrjvx@naver.com 010-8409-4669 sysdate
INSERT INTO members(members_id, password, nickname, email, tel, regdate, birth, genre1, genre2) VALUES('odmuqdrjvx', '1234', '재미있는 귤', 'odmuqdrjvx@naver.com', '010-8409-4669', sysdate, 1998-04-17 14:48:49, 4, 2)
ghfszqlhdw 1234 느닷없는 앵두 ghfszqlhdw@naver.com 010-3191-9069 sysdate
INSERT INTO members(members_id, password, nickname, email, tel, regdate, birth, genre1, genre2) VALUES('ghfszqlhdw', '1234', '느닷없는 앵두', 'ghfszqlhdw@naver.com', '010-3191-9069', sysdate, 1991-04-19 14:48:49, 1, 4)
jpulpfwufn 1234 늦은 강아지 jpulpfwufn@naver.com 010-4862-6246 sysdate
INSERT INTO members(members_id, password, nickname, email, tel, regdate, birth, genre1, genre2) VALUES('jpulpfwufn', '1234', '늦은 강아지', 'jpulpfwufn@naver.com', '010-4862-6246', sysdate, 1990-04-19 14:48:49, 0, 2)
sbbzgvcdej 1234 짙은 기니피그 sbbzgvcdej@naver.com 010-6874-7655 sysdate
INSERT INTO members(members_id, password, nickname, email, tel, regdate, birth, genre1, genre2) VALUES('sbbzgvcdej', '1234', '짙은 기니피그', 'sbbzgvcdej@naver.com', '010-6874-7655', sysdate, 2003-04-16 14:48:49, 0, 1)
ifhbncjokj 1234 밤늦은 개구리 ifhbncjokj@naver.com 010-6619-8131 sysdate
INSERT INTO members(members_id, password, nickname, email, tel, regdate, birth, genre1, genre2) VALUES('ifhbncjokj', '1234', '밤늦은 개구리', 'ifhbncjokj@naver.com', '010-6619-8131', sysdate, 2003-04-16 14:48:49, 4, 2)
veulltmoua 1234 쓴 기니피그 veulltmoua@naver.com 010-7930-5930 sysdate
INSERT INTO members(members_id, password, nickname, email, tel, regdate, birth, genre1, genre2) VALUES('veulltmoua', '1234', '쓴 기니피그', 'veulltmoua@naver.com', '010-7930-5930', sysdate, 1987-04-20 14:48:49, 3, 1)
iibexcpnnl 1234 있는 우유 iibexcpnnl@naver.com 010-8798-3925 sysdate
INSERT INTO members(members_id, password, nickname, email, tel, regdate, birth, genre1, genre2) VALUES('iibexcpnnl', '1234', '있는 우유', 'iibexcpnnl@naver.com', '010-8798-3925', sysdate, 1992-04-18 14:48:49, 2, 0)
jerpovkuls 1234 수다스러운 앵두 jerpovkuls@naver.com 010-4730-5783 sysdate
INSERT INTO members(members_id, password, nickname, email, tel, regdate, birth, genre1, genre2) VALUES('jerpovkuls', '1234', '수다스러운 앵두', 'jerpovkuls@naver.com', '010-4730-5783', sysdate, 1990-04-19 14:48:49, 3, 4)
gqbwwysiyn 1234 게을러빠진 망고 gqbwwysiyn@naver.com 010-8841-8391 sysdate
INSERT INTO members(members_id, password, nickname, email, tel, regdate, birth, genre1, genre2) VALUES('gqbwwysiyn', '1234', '게을러빠진 망고', 'gqbwwysiyn@naver.com', '010-8841-8391', sysdate, 2005-04-15 14:48:49, 1, 0)
vlqasjzkgr 1234 낮은 강아지 vlqasjzkgr@naver.com 010-2064-4739 sysdate
INSERT INTO members(members_id, password, nickname, email, tel, regdate, birth, genre1, genre2) VALUES('vlqasjzkgr', '1234', '낮은 강아지', 'vlqasjzkgr@naver.com', '010-2064-4739', sysdate, 1994-04-18 14:48:49, 1, 0)
wbmgunzkil 1234 적은 치즈 wbmgunzkil@naver.com 010-6209-4110 sysdate
INSERT INTO members(members_id, password, nickname, email, tel, regdate, birth, genre1, genre2) VALUES('wbmgunzkil', '1234', '적은 치즈', 'wbmgunzkil@naver.com', '010-6209-4110', sysdate, 1993-04-18 14:48:49, 0, 4)
hhbiculyii 1234 적은 우유 hhbiculyii@naver.com 010-1832-2088 sysdate
INSERT INTO members(members_id, password, nickname, email, tel, regdate, birth, genre1, genre2) VALUES('hhbiculyii', '1234', '적은 우유', 'hhbiculyii@naver.com', '010-1832-2088', sysdate, 1984-04-20 14:48:49, 0, 3)
vwchcfnfgf 1234 거친 햄스터 vwchcfnfgf@naver.com 010-6287-7646 sysdate
INSERT INTO members(members_id, password, nickname, email, tel, regdate, birth, genre1, genre2) VALUES('vwchcfnfgf', '1234', '거친 햄스터', 'vwchcfnfgf@naver.com', '010-6287-7646', sysdate, 1989-04-19 14:48:49, 4, 2)
nszhkpixck 1234 귀여운 구름 nszhkpixck@naver.com 010-6171-6206 sysdate
INSERT INTO members(members_id, password, nickname, email, tel, regdate, birth, genre1, genre2) VALUES('nszhkpixck', '1234', '귀여운 구름', 'nszhkpixck@naver.com', '010-6171-6206', sysdate, 1993-04-18 14:48:49, 4, 3)
wywhyevsvx 1234 수줍은 개구리 wywhyevsvx@naver.com 010-2152-8024 sysdate
INSERT INTO members(members_id, password, nickname, email, tel, regdate, birth, genre1, genre2) VALUES('wywhyevsvx', '1234', '수줍은 개구리', 'wywhyevsvx@naver.com', '010-2152-8024', sysdate, 1990-04-19 14:48:49, 0, 2)
txasqjnrsj 1234 푸른 치즈 txasqjnrsj@naver.com 010-7342-5865 sysdate
INSERT INTO members(members_id, password, nickname, email, tel, regdate, birth, genre1, genre2) VALUES('txasqjnrsj', '1234', '푸른 치즈', 'txasqjnrsj@naver.com', '010-7342-5865', sysdate, 2003-04-16 14:48:49, 1, 2)
olcdsifbau 1234 약은 귤 olcdsifbau@naver.com 010-0448-5885 sysdate
INSERT INTO members(members_id, password, nickname, email, tel, regdate, birth, genre1, genre2) VALUES('olcdsifbau', '1234', '약은 귤', 'olcdsifbau@naver.com', '010-0448-5885', sysdate, 1987-04-20 14:48:49, 0, 2)
ibvxdsqqpg 1234 밝은 앵두 ibvxdsqqpg@naver.com 010-9200-2519 sysdate
INSERT INTO members(members_id, password, nickname, email, tel, regdate, birth, genre1, genre2) VALUES('ibvxdsqqpg', '1234', '밝은 앵두', 'ibvxdsqqpg@naver.com', '010-9200-2519', sysdate, 2002-04-16 14:48:49, 4, 1)
yvzbngydit 1234 싼 우유 yvzbngydit@naver.com 010-7945-8099 sysdate
INSERT INTO members(members_id, password, nickname, email, tel, regdate, birth, genre1, genre2) VALUES('yvzbngydit', '1234', '싼 우유', 'yvzbngydit@naver.com', '010-7945-8099', sysdate, 1998-04-17 14:48:49, 3, 0)
sudxphifvp 1234 어려운 햄스터 sudxphifvp@naver.com 010-9998-5983 sysdate
INSERT INTO members(members_id, password, nickname, email, tel, regdate, birth, genre1, genre2) VALUES('sudxphifvp', '1234', '어려운 햄스터', 'sudxphifvp@naver.com', '010-9998-5983', sysdate, 2004-04-15 14:48:49, 1, 0)
ywrymbpmsr 1234 설운 비스킷 ywrymbpmsr@naver.com 010-0822-1797 sysdate
INSERT INTO members(members_id, password, nickname, email, tel, regdate, birth, genre1, genre2) VALUES('ywrymbpmsr', '1234', '설운 비스킷', 'ywrymbpmsr@naver.com', '010-0822-1797', sysdate, 2005-04-15 14:48:49, 4, 0)
pygcsjbyck 1234 뽀얀 햄스터 pygcsjbyck@naver.com 010-6122-3952 sysdate
INSERT INTO members(members_id, password, nickname, email, tel, regdate, birth, genre1, genre2) VALUES('pygcsjbyck', '1234', '뽀얀 햄스터', 'pygcsjbyck@naver.com', '010-6122-3952', sysdate, 1987-04-20 14:48:49, 0, 1)
knmpxwshyp 1234 예쁜 개구리 knmpxwshyp@naver.com 010-0542-3503 sysdate
INSERT INTO members(members_id, password, nickname, email, tel, regdate, birth, genre1, genre2) VALUES('knmpxwshyp', '1234', '예쁜 개구리', 'knmpxwshyp@naver.com', '010-0542-3503', sysdate, 2001-04-16 14:48:49, 3, 4)
mdasgmqfdj 1234 너른 구름 mdasgmqfdj@naver.com 010-4169-4594 sysdate
INSERT INTO members(members_id, password, nickname, email, tel, regdate, birth, genre1, genre2) VALUES('mdasgmqfdj', '1234', '너른 구름', 'mdasgmqfdj@naver.com', '010-4169-4594', sysdate, 1988-04-19 14:48:49, 3, 4)
exywwecadg 1234 새로운 개구리 exywwecadg@naver.com 010-7572-2478 sysdate
INSERT INTO members(members_id, password, nickname, email, tel, regdate, birth, genre1, genre2) VALUES('exywwecadg', '1234', '새로운 개구리', 'exywwecadg@naver.com', '010-7572-2478', sysdate, 1992-04-18 14:48:49, 1, 2)
okuoyarrhg 1234 많은 비스킷 okuoyarrhg@naver.com 010-1470-2557 sysdate
INSERT INTO members(members_id, password, nickname, email, tel, regdate, birth, genre1, genre2) VALUES('okuoyarrhg', '1234', '많은 비스킷', 'okuoyarrhg@naver.com', '010-1470-2557', sysdate, 1995-04-18 14:48:49, 1, 0)
gupxeoartu 1234 희망찬 귤 gupxeoartu@naver.com 010-2264-8994 sysdate
INSERT INTO members(members_id, password, nickname, email, tel, regdate, birth, genre1, genre2) VALUES('gupxeoartu', '1234', '희망찬 귤', 'gupxeoartu@naver.com', '010-2264-8994', sysdate, 1986-04-20 14:48:49, 0, 1)
pabzjtcens 1234 쓰린 망고 pabzjtcens@naver.com 010-1184-8383 sysdate
INSERT INTO members(members_id, password, nickname, email, tel, regdate, birth, genre1, genre2) VALUES('pabzjtcens', '1234', '쓰린 망고', 'pabzjtcens@naver.com', '010-1184-8383', sysdate, 1994-04-18 14:48:49, 3, 4)
gxuupcdzdf 1234 수줍은 기니피그 gxuupcdzdf@naver.com 010-1806-0267 sysdate
INSERT INTO members(members_id, password, nickname, email, tel, regdate, birth, genre1, genre2) VALUES('gxuupcdzdf', '1234', '수줍은 기니피그', 'gxuupcdzdf@naver.com', '010-1806-0267', sysdate, 1983-04-21 14:48:49, 3, 2)
raeyecnwms 1234 조그만 귤 raeyecnwms@naver.com 010-6464-0695 sysdate
INSERT INTO members(members_id, password, nickname, email, tel, regdate, birth, genre1, genre2) VALUES('raeyecnwms', '1234', '조그만 귤', 'raeyecnwms@naver.com', '010-6464-0695', sysdate, 1995-04-18 14:48:49, 1, 4)
csxlubybcl 1234 더운 강아지 csxlubybcl@naver.com 010-9364-6993 sysdate
INSERT INTO members(members_id, password, nickname, email, tel, regdate, birth, genre1, genre2) VALUES('csxlubybcl', '1234', '더운 강아지', 'csxlubybcl@naver.com', '010-9364-6993', sysdate, 1997-04-17 14:48:49, 1, 3)
ppgdpkquwf 1234 높은 망고 ppgdpkquwf@naver.com 010-0232-8196 sysdate
INSERT INTO members(members_id, password, nickname, email, tel, regdate, birth, genre1, genre2) VALUES('ppgdpkquwf', '1234', '높은 망고', 'ppgdpkquwf@naver.com', '010-0232-8196', sysdate, 1994-04-18 14:48:49, 4, 2)
qvcygnwfnt 1234 뽀얀 강아지 qvcygnwfnt@naver.com 010-5290-6176 sysdate
INSERT INTO members(members_id, password, nickname, email, tel, regdate, birth, genre1, genre2) VALUES('qvcygnwfnt', '1234', '뽀얀 강아지', 'qvcygnwfnt@naver.com', '010-5290-6176', sysdate, 1998-04-17 14:48:49, 1, 4)
grogpfsxze 1234 흰 기니피그 grogpfsxze@naver.com 010-8257-4373 sysdate
INSERT INTO members(members_id, password, nickname, email, tel, regdate, birth, genre1, genre2) VALUES('grogpfsxze', '1234', '흰 기니피그', 'grogpfsxze@naver.com', '010-8257-4373', sysdate, 1988-04-19 14:48:49, 2, 4)
wxemftpucg 1234 수다스러운 귤 wxemftpucg@naver.com 010-0536-9281 sysdate
INSERT INTO members(members_id, password, nickname, email, tel, regdate, birth, genre1, genre2) VALUES('wxemftpucg', '1234', '수다스러운 귤', 'wxemftpucg@naver.com', '010-0536-9281', sysdate, 1988-04-19 14:48:49, 3, 4)
mktxcztjrs 1234 같은 치즈 mktxcztjrs@naver.com 010-3411-1369 sysdate
INSERT INTO members(members_id, password, nickname, email, tel, regdate, birth, genre1, genre2) VALUES('mktxcztjrs', '1234', '같은 치즈', 'mktxcztjrs@naver.com', '010-3411-1369', sysdate, 1984-04-20 14:48:49, 4, 3)
zltopniiml 1234 빨간 앵두 zltopniiml@naver.com 010-7957-5165 sysdate
INSERT INTO members(members_id, password, nickname, email, tel, regdate, birth, genre1, genre2) VALUES('zltopniiml', '1234', '빨간 앵두', 'zltopniiml@naver.com', '010-7957-5165', sysdate, 1987-04-20 14:48:49, 3, 2)
lztidjgnou 1234 거센 앵두 lztidjgnou@naver.com 010-6083-6673 sysdate
INSERT INTO members(members_id, password, nickname, email, tel, regdate, birth, genre1, genre2) VALUES('lztidjgnou', '1234', '거센 앵두', 'lztidjgnou@naver.com', '010-6083-6673', sysdate, 2005-04-15 14:48:49, 4, 0)
wnhixqlilw 1234 안된 기니피그 wnhixqlilw@naver.com 010-5502-4019 sysdate
INSERT INTO members(members_id, password, nickname, email, tel, regdate, birth, genre1, genre2) VALUES('wnhixqlilw', '1234', '안된 기니피그', 'wnhixqlilw@naver.com', '010-5502-4019', sysdate, 2003-04-16 14:48:49, 3, 0)
vxsavpvyuu 1234 질긴 귤 vxsavpvyuu@naver.com 010-4006-5875 sysdate
INSERT INTO members(members_id, password, nickname, email, tel, regdate, birth, genre1, genre2) VALUES('vxsavpvyuu', '1234', '질긴 귤', 'vxsavpvyuu@naver.com', '010-4006-5875', sysdate, 1989-04-19 14:48:49, 1, 0)
xqmcictnhd 1234 어두운 앵두 xqmcictnhd@naver.com 010-0710-8727 sysdate
INSERT INTO members(members_id, password, nickname, email, tel, regdate, birth, genre1, genre2) VALUES('xqmcictnhd', '1234', '어두운 앵두', 'xqmcictnhd@naver.com', '010-0710-8727', sysdate, 2003-04-16 14:48:49, 3, 0)
cpozqoiram 1234 보람찬 우유 cpozqoiram@naver.com 010-6577-4393 sysdate
INSERT INTO members(members_id, password, nickname, email, tel, regdate, birth, genre1, genre2) VALUES('cpozqoiram', '1234', '보람찬 우유', 'cpozqoiram@naver.com', '010-6577-4393', sysdate, 1997-04-17 14:48:49, 4, 2)
qngqqjxlft 1234 예쁜 개구리 qngqqjxlft@naver.com 010-2244-5836 sysdate
INSERT INTO members(members_id, password, nickname, email, tel, regdate, birth, genre1, genre2) VALUES('qngqqjxlft', '1234', '예쁜 개구리', 'qngqqjxlft@naver.com', '010-2244-5836', sysdate, 2000-04-16 14:48:49, 4, 0)
mncjbudjae 1234 흐린 구름 mncjbudjae@naver.com 010-7272-1969 sysdate
INSERT INTO members(members_id, password, nickname, email, tel, regdate, birth, genre1, genre2) VALUES('mncjbudjae', '1234', '흐린 구름', 'mncjbudjae@naver.com', '010-7272-1969', sysdate, 1990-04-19 14:48:49, 0, 1)
kfmpryvnqk 1234 검은 햄스터 kfmpryvnqk@naver.com 010-5793-4406 sysdate
INSERT INTO members(members_id, password, nickname, email, tel, regdate, birth, genre1, genre2) VALUES('kfmpryvnqk', '1234', '검은 햄스터', 'kfmpryvnqk@naver.com', '010-5793-4406', sysdate, 1988-04-19 14:48:49, 1, 4)
vlpbbibjkz 1234 시원찮은 비스킷 vlpbbibjkz@naver.com 010-5672-9552 sysdate
INSERT INTO members(members_id, password, nickname, email, tel, regdate, birth, genre1, genre2) VALUES('vlpbbibjkz', '1234', '시원찮은 비스킷', 'vlpbbibjkz@naver.com', '010-5672-9552', sysdate, 1996-04-17 14:48:49, 4, 1)
tfefrxkbta 1234 구석진 앵두 tfefrxkbta@naver.com 010-6116-3688 sysdate
INSERT INTO members(members_id, password, nickname, email, tel, regdate, birth, genre1, genre2) VALUES('tfefrxkbta', '1234', '구석진 앵두', 'tfefrxkbta@naver.com', '010-6116-3688', sysdate, 1984-04-20 14:48:49, 2, 1)
qzwizqegty 1234 어린 기니피그 qzwizqegty@naver.com 010-9255-3751 sysdate
INSERT INTO members(members_id, password, nickname, email, tel, regdate, birth, genre1, genre2) VALUES('qzwizqegty', '1234', '어린 기니피그', 'qzwizqegty@naver.com', '010-9255-3751', sysdate, 1997-04-17 14:48:49, 3, 1)
zwyezujjfk 1234 지혜로운 구름 zwyezujjfk@naver.com 010-1967-6590 sysdate
INSERT INTO members(members_id, password, nickname, email, tel, regdate, birth, genre1, genre2) VALUES('zwyezujjfk', '1234', '지혜로운 구름', 'zwyezujjfk@naver.com', '010-1967-6590', sysdate, 1992-04-18 14:48:49, 3, 0)
efbdzpgguu 1234 건조한 비스킷 efbdzpgguu@naver.com 010-4289-0551 sysdate
INSERT INTO members(members_id, password, nickname, email, tel, regdate, birth, genre1, genre2) VALUES('efbdzpgguu', '1234', '건조한 비스킷', 'efbdzpgguu@naver.com', '010-4289-0551', sysdate, 1986-04-20 14:48:49, 2, 1)
ceuaaelvfw 1234 미운 기니피그 ceuaaelvfw@naver.com 010-9676-5426 sysdate
INSERT INTO members(members_id, password, nickname, email, tel, regdate, birth, genre1, genre2) VALUES('ceuaaelvfw', '1234', '미운 기니피그', 'ceuaaelvfw@naver.com', '010-9676-5426', sysdate, 2001-04-16 14:48:49, 4, 3)
ktcsbjicrc 1234 같은 비스킷 ktcsbjicrc@naver.com 010-7468-2607 sysdate
INSERT INTO members(members_id, password, nickname, email, tel, regdate, birth, genre1, genre2) VALUES('ktcsbjicrc', '1234', '같은 비스킷', 'ktcsbjicrc@naver.com', '010-7468-2607', sysdate, 1991-04-19 14:48:49, 4, 1)
rvbpbvfjpe 1234 낮은 귤 rvbpbvfjpe@naver.com 010-8624-9957 sysdate
INSERT INTO members(members_id, password, nickname, email, tel, regdate, birth, genre1, genre2) VALUES('rvbpbvfjpe', '1234', '낮은 귤', 'rvbpbvfjpe@naver.com', '010-8624-9957', sysdate, 1996-04-17 14:48:49, 2, 3)
ewkkszsssn 1234 케케묵은 귤 ewkkszsssn@naver.com 010-1133-3496 sysdate
INSERT INTO members(members_id, password, nickname, email, tel, regdate, birth, genre1, genre2) VALUES('ewkkszsssn', '1234', '케케묵은 귤', 'ewkkszsssn@naver.com', '010-1133-3496', sysdate, 1995-04-18 14:48:49, 2, 3)
decrjdaokt 1234 잘난 망고 decrjdaokt@naver.com 010-2239-9628 sysdate
INSERT INTO members(members_id, password, nickname, email, tel, regdate, birth, genre1, genre2) VALUES('decrjdaokt', '1234', '잘난 망고', 'decrjdaokt@naver.com', '010-2239-9628', sysdate, 1991-04-19 14:48:49, 2, 1)
nofisbugmb 1234 미끈미끈한 개구리 nofisbugmb@naver.com 010-6149-5577 sysdate
INSERT INTO members(members_id, password, nickname, email, tel, regdate, birth, genre1, genre2) VALUES('nofisbugmb', '1234', '미끈미끈한 개구리', 'nofisbugmb@naver.com', '010-6149-5577', sysdate, 2005-04-15 14:48:49, 2, 4)
rbksaknwat 1234 푸른 햄스터 rbksaknwat@naver.com 010-1872-7144 sysdate
INSERT INTO members(members_id, password, nickname, email, tel, regdate, birth, genre1, genre2) VALUES('rbksaknwat', '1234', '푸른 햄스터', 'rbksaknwat@naver.com', '010-1872-7144', sysdate, 1998-04-17 14:48:49, 2, 4)
ogbpgeefeh 1234 깎아지른 우유 ogbpgeefeh@naver.com 010-0358-6500 sysdate
INSERT INTO members(members_id, password, nickname, email, tel, regdate, birth, genre1, genre2) VALUES('ogbpgeefeh', '1234', '깎아지른 우유', 'ogbpgeefeh@naver.com', '010-0358-6500', sysdate, 1983-04-21 14:48:49, 2, 0)
jiexgebnnf 1234 시원찮은 강아지 jiexgebnnf@naver.com 010-0587-8748 sysdate
INSERT INTO members(members_id, password, nickname, email, tel, regdate, birth, genre1, genre2) VALUES('jiexgebnnf', '1234', '시원찮은 강아지', 'jiexgebnnf@naver.com', '010-0587-8748', sysdate, 1992-04-18 14:48:49, 4, 3)
mplyvxfdci 1234 미끈미끈한 개구리 mplyvxfdci@naver.com 010-6350-9507 sysdate
INSERT INTO members(members_id, password, nickname, email, tel, regdate, birth, genre1, genre2) VALUES('mplyvxfdci', '1234', '미끈미끈한 개구리', 'mplyvxfdci@naver.com', '010-6350-9507', sysdate, 2000-04-16 14:48:49, 3, 0)
uwaepkqugy 1234 조그만 귤 uwaepkqugy@naver.com 010-3011-6058 sysdate
INSERT INTO members(members_id, password, nickname, email, tel, regdate, birth, genre1, genre2) VALUES('uwaepkqugy', '1234', '조그만 귤', 'uwaepkqugy@naver.com', '010-3011-6058', sysdate, 1997-04-17 14:48:49, 2, 4)
vjkkxxltgz 1234 즐거운 햄스터 vjkkxxltgz@naver.com 010-9832-6854 sysdate