In [ ]:
# 데이터수집(CRAWLING),저장(RDBMS,MONGODB),전처리(NUMPY,PANDAS)  (AI)  시각화 MATPLOTLIB,SEABORN

In [1]:
import pandas as pd

In [2]:
titanic_df = pd.read_csv('titanic/train.csv')
print('titanic 변수 type:',type(titanic_df))

titanic 변수 type: <class 'pandas.core.frame.DataFrame'>

In [3]:
titanic_df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [4]:
titanic_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [7]:
#DataFrame의 행(Row)와 열(Column) 크기를 가지고 있는 속성입니다.
pd.set_option('display.max_rows', 1000)
pd.set_option('display.max_colwidth', 100)
pd.set_option('display.max_columns', 100)

**DataFrame의 생성**

In [6]:
print('DataFrame 크기: ', titanic_df.shape)

DataFrame 크기:  (891, 12)

In [10]:
dic1 = {'Name': ['Chulmin', 'Eunkyung','Jinwoong','Soobeom'],
        'Year': [2011, 2016, 2015, 2015],
        'Gender': ['Male', 'Female', 'Male', 'Male']
       }
# 딕셔너리를 DataFrame으로 변환
data_df = pd.DataFrame(dic1)
print(data_df)
print("#"*30)

# 새로운 컬럼명을 추가
data_df = pd.DataFrame(dic1, columns=["Name", "Year", "Gender", "Age"])
print(data_df)
print("#"*30)

# 인덱스를 새로운 값으로 할당. 
data_df = pd.DataFrame(dic1, index=['one','two','three','four'])
print(data_df)
print("#"*30)

       Name  Year  Gender
0   Chulmin  2011    Male
1  Eunkyung  2016  Female
2  Jinwoong  2015    Male
3   Soobeom  2015    Male
##############################
       Name  Year  Gender  Age
0   Chulmin  2011    Male  NaN
1  Eunkyung  2016  Female  NaN
2  Jinwoong  2015    Male  NaN
3   Soobeom  2015    Male  NaN
##############################
           Name  Year  Gender
one     Chulmin  2011    Male
two    Eunkyung  2016  Female
three  Jinwoong  2015    Male
four    Soobeom  2015    Male
##############################

**DataFrame의 컬럼명과 인덱스**

In [12]:
print("columns:",titanic_df.columns)
print("index:",titanic_df.index)
print("index value:", titanic_df.index.values)

columns: Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')
index: RangeIndex(start=0, stop=891, step=1)
index value: [  0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17
  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35
  36  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53
  54  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71
  72  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89
  90  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107
 108 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125
 126 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143
 144 145 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161
 162 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179
 180 181 182 183 184 185 186 187 188 189 190 191 192 193 194 195 196 197
 198 199 200 201 202 203 204 205 206 207 208 209 210 211 212 213 214 215
 216 217 218 219 220 221 222 223 224 225 226 227 228 229 230 231 232 233
 234 235 236 237 238 239 240 241 242 243 244 245 246 247 248 249 250 251
 252 253 254 255 256 257 258 259 260 261 262 263 264 265 266 267 268 269
 270 271 272 273 274 275 276 277 278 279 280 281 282 283 284 285 286 287
 288 289 290 291 292 293 294 295 296 297 298 299 300 301 302 303 304 305
 306 307 308 309 310 311 312 313 314 315 316 317 318 319 320 321 322 323
 324 325 326 327 328 329 330 331 332 333 334 335 336 337 338 339 340 341
 342 343 344 345 346 347 348 349 350 351 352 353 354 355 356 357 358 359
 360 361 362 363 364 365 366 367 368 369 370 371 372 373 374 375 376 377
 378 379 380 381 382 383 384 385 386 387 388 389 390 391 392 393 394 395
 396 397 398 399 400 401 402 403 404 405 406 407 408 409 410 411 412 413
 414 415 416 417 418 419 420 421 422 423 424 425 426 427 428 429 430 431
 432 433 434 435 436 437 438 439 440 441 442 443 444 445 446 447 448 449
 450 451 452 453 454 455 456 457 458 459 460 461 462 463 464 465 466 467
 468 469 470 471 472 473 474 475 476 477 478 479 480 481 482 483 484 485
 486 487 488 489 490 491 492 493 494 495 496 497 498 499 500 501 502 503
 504 505 506 507 508 509 510 511 512 513 514 515 516 517 518 519 520 521
 522 523 524 525 526 527 528 529 530 531 532 533 534 535 536 537 538 539
 540 541 542 543 544 545 546 547 548 549 550 551 552 553 554 555 556 557
 558 559 560 561 562 563 564 565 566 567 568 569 570 571 572 573 574 575
 576 577 578 579 580 581 582 583 584 585 586 587 588 589 590 591 592 593
 594 595 596 597 598 599 600 601 602 603 604 605 606 607 608 609 610 611
 612 613 614 615 616 617 618 619 620 621 622 623 624 625 626 627 628 629
 630 631 632 633 634 635 636 637 638 639 640 641 642 643 644 645 646 647
 648 649 650 651 652 653 654 655 656 657 658 659 660 661 662 663 664 665
 666 667 668 669 670 671 672 673 674 675 676 677 678 679 680 681 682 683
 684 685 686 687 688 689 690 691 692 693 694 695 696 697 698 699 700 701
 702 703 704 705 706 707 708 709 710 711 712 713 714 715 716 717 718 719
 720 721 722 723 724 725 726 727 728 729 730 731 732 733 734 735 736 737
 738 739 740 741 742 743 744 745 746 747 748 749 750 751 752 753 754 755
 756 757 758 759 760 761 762 763 764 765 766 767 768 769 770 771 772 773
 774 775 776 777 778 779 780 781 782 783 784 785 786 787 788 789 790 791
 792 793 794 795 796 797 798 799 800 801 802 803 804 805 806 807 808 809
 810 811 812 813 814 815 816 817 818 819 820 821 822 823 824 825 826 827
 828 829 830 831 832 833 834 835 836 837 838 839 840 841 842 843 844 845
 846 847 848 849 850 851 852 853 854 855 856 857 858 859 860 861 862 863
 864 865 866 867 868 869 870 871 872 873 874 875 876 877 878 879 880 881
 882 883 884 885 886 887 888 889 890]

In [13]:
titanic_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [ ]:
#데이터값들의 평균,표준편차,4분위 분포도를 제공합니다. 숫자형 컬럼들에 대해서 해당 정보를 제공합니다.

In [14]:
titanic_df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [15]:
titanic_pclass = titanic_df['Pclass']
print(type(titanic_pclass))

<class 'pandas.core.series.Series'>

In [16]:
### DataFrame의 칼럼 데이터 세트 생성과 수정

In [20]:
titanic_df['Age_0']=0 #titanic_df['Age_0']
titanic_df.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Age_0
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38.0,1,0,PC 17599,71.2833,C85,C,0
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0

In [21]:
titanic_df['Age_by_10'] = titanic_df['Age']*10
titanic_df['Family_No'] = titanic_df['SibSp'] + titanic_df['Parch']+1
titanic_df.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Age_0,Age_by_10,Family_No
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0,220.0,2
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38.0,1,0,PC 17599,71.2833,C85,C,0,380.0,2
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0,260.0,1

In [22]:
titanic_df['Age_by_10'] = titanic_df['Age_by_10'] + 100
titanic_df.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Age_0,Age_by_10,Family_No
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0,320.0,2
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38.0,1,0,PC 17599,71.2833,C85,C,0,480.0,2
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0,360.0,1

In [23]:
titanic_df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Age_0,Age_by_10,Family_No
0,1,0,3,"Braund, Mr. Owen Harris",male,22.00,1,0,A/5 21171,7.2500,NaN,S,0,320.0,2
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38.00,1,0,PC 17599,71.2833,C85,C,0,480.0,2
2,3,1,3,"Heikkinen, Miss. Laina",female,26.00,0,0,STON/O2. 3101282,7.9250,NaN,S,0,360.0,1
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.00,1,0,113803,53.1000,C123,S,0,450.0,2
4,5,0,3,"Allen, Mr. William Henry",male,35.00,0,0,373450,8.0500,NaN,S,0,450.0,1
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q,0,NaN,1
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.00,0,0,17463,51.8625,E46,S,0,640.0,1
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.00,3,1,349909,21.0750,NaN,S,0,120.0,5
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.00,0,2,347742,11.1333,NaN,S,0,370.0,3
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.00,1,0,237736,30.0708,NaN,C,0,240.0,2
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.00,1,1,PP 9549,16.7000,G6,S,0,140.0,3
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.00,0,0,113783,26.5500,C103,S,0,680.0,1
12,13,0,3,"Saundercock, Mr. William Henry",male,20.00,0,0,A/5. 2151,8.0500,NaN,S,0,300.0,1
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.00,1,5,347082,31.2750,NaN,S,0,490.0,7
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.00,0,0,350406,7.8542,NaN,S,0,240.0,1
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.00,0,0,248706,16.0000,NaN,S,0,650.0,1
16,17,0,3,"Rice, Master. Eugene",male,2.00,4,1,382652,29.1250,NaN,Q,0,120.0,6
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S,0,NaN,1
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)",female,31.00,1,0,345763,18.0000,NaN,S,0,410.0,2
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C,0,NaN,1
20,21,0,2,"Fynney, Mr. Joseph J",male,35.00,0,0,239865,26.0000,NaN,S,0,450.0,1
21,22,1,2,"Beesley, Mr. Lawrence",male,34.00,0,0,248698,13.0000,D56,S,0,440.0,1
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.00,0,0,330923,8.0292,NaN,Q,0,250.0,1
23,24,1,1,"Sloper, Mr. William Thompson",male,28.00,0,0,113788,35.5000,A6,S,0,380.0,1
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.00,3,1,349909,21.0750,NaN,S,0,180.0,5
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson)",female,38.00,1,5,347077,31.3875,NaN,S,0,480.0,7
26,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C,0,NaN,1
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.00,3,2,19950,263.0000,C23 C25 C27,S,0,290.0,6
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q,0,NaN,1
29,30,0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S,0,NaN,1
30,31,0,1,"Uruchurtu, Don. Manuel E",male,40.00,0,0,PC 17601,27.7208,NaN,C,0,500.0,1
31,32,1,1,"Spencer, Mrs. William Augustus (Marie Eugenie)",female,NaN,1,0,PC 17569,146.5208,B78,C,0,NaN,2
32,33,1,3,"Glynn, Miss. Mary Agatha",female,NaN,0,0,335677,7.7500,NaN,Q,0,NaN,1
33,34,0,2,"Wheadon, Mr. Edward H",male,66.00,0,0,C.A. 24579,10.5000,NaN,S,0,760.0,1
34,35,0,1,"Meyer, Mr. Edgar Joseph",male,28.00,1,0,PC 17604,82.1708,NaN,C,0,380.0,2
35,36,0,1,"Holverson, Mr. Alexander Oskar",male,42.00,1,0,113789,52.0000,NaN,S,0,520.0,2
36,37,1,3,"Mamee, Mr. Hanna",male,NaN,0,0,2677,7.2292,NaN,C,0,NaN,1
37,38,0,3,"Cann, Mr. Ernest Charles",male,21.00,0,0,A./5. 2152,8.0500,NaN,S,0,310.0,1
38,39,0,3,"Vander Planke, Miss. Augusta Maria",female,18.00,2,0,345764,18.0000,NaN,S,0,280.0,3
39,40,1,3,"Nicola-Yarred, Miss. Jamila",female,14.00,1,0,2651,11.2417,NaN,C,0,240.0,2
40,41,0,3,"Ahlin, Mrs. Johan (Johanna Persdotter Larsson)",female,40.00,1,0,7546,9.4750,NaN,S,0,500.0,2
41,42,0,2,"Turpin, Mrs. William John Robert (Dorothy Ann Wonnacott)",female,27.00,1,0,11668,21.0000,NaN,S,0,370.0,2
42,43,0,3,"Kraeff, Mr. Theodor",male,NaN,0,0,349253,7.8958,NaN,C,0,NaN,1
43,44,1,2,"Laroche, Miss. Simonne Marie Anne Andree",female,3.00,1,2,SC/Paris 2123,41.5792,NaN,C,0,130.0,4
44,45,1,3,"Devaney, Miss. Margaret Delia",female,19.00,0,0,330958,7.8792,NaN,Q,0,290.0,1
45,46,0,3,"Rogers, Mr. William John",male,NaN,0,0,S.C./A.4. 23567,8.0500,NaN,S,0,NaN,1
46,47,0,3,"Lennon, Mr. Denis",male,NaN,1,0,370371,15.5000,NaN,Q,0,NaN,2
47,48,1,3,"O'Driscoll, Miss. Bridget",female,NaN,0,0,14311,7.7500,NaN,Q,0,NaN,1
48,49,0,3,"Samaan, Mr. Youssef",male,NaN,2,0,2662,21.6792,NaN,C,0,NaN,3
49,50,0,3,"Arnold-Franchi, Mrs. Josef (Josefine Franchi)",female,18.00,1,0,349237,17.8000,NaN,S,0,280.0,2
50,51,0,3,"Panula, Master. Juha Niilo",male,7.00,4,1,3101295,39.6875,NaN,S,0,170.0,6
51,52,0,3,"Nosworthy, Mr. Richard Cater",male,21.00,0,0,A/4. 39886,7.8000,NaN,S,0,310.0,1
52,53,1,1,"Harper, Mrs. Henry Sleeper (Myna Haxtun)",female,49.00,1,0,PC 17572,76.7292,D33,C,0,590.0,2
53,54,1,2,"Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkinson)",female,29.00,1,0,2926,26.0000,NaN,S,0,390.0,2
54,55,0,1,"Ostby, Mr. Engelhart Cornelius",male,65.00,0,1,113509,61.9792,B30,C,0,750.0,2
55,56,1,1,"Woolner, Mr. Hugh",male,NaN,0,0,19947,35.5000,C52,S,0,NaN,1
56,57,1,2,"Rugg, Miss. Emily",female,21.00,0,0,C.A. 31026,10.5000,NaN,S,0,310.0,1
57,58,0,3,"Novel, Mr. Mansouer",male,28.50,0,0,2697,7.2292,NaN,C,0,385.0,1
58,59,1,2,"West, Miss. Constance Mirium",female,5.00,1,2,C.A. 34651,27.7500,NaN,S,0,150.0,4
59,60,0,3,"Goodwin, Master. William Frederick",male,11.00,5,2,CA 2144,46.9000,NaN,S,0,210.0,8
60,61,0,3,"Sirayanian, Mr. Orsen",male,22.00,0,0,2669,7.2292,NaN,C,0,320.0,1
61,62,1,1,"Icard, Miss. Amelie",female,38.00,0,0,113572,80.0000,B28,NaN,0,480.0,1
62,63,0,1,"Harris, Mr. Henry Birkhardt",male,45.00,1,0,36973,83.4750,C83,S,0,550.0,2
63,64,0,3,"Skoog, Master. Harald",male,4.00,3,2,347088,27.9000,NaN,S,0,140.0,6
64,65,0,1,"Stewart, Mr. Albert A",male,NaN,0,0,PC 17605,27.7208,NaN,C,0,NaN,1
65,66,1,3,"Moubarek, Master. Gerios",male,NaN,1,1,2661,15.2458,NaN,C,0,NaN,3
66,67,1,2,"Nye, Mrs. (Elizabeth Ramell)",female,29.00,0,0,C.A. 29395,10.5000,F33,S,0,390.0,1
67,68,0,3,"Crease, Mr. Ernest James",male,19.00,0,0,S.P. 3464,8.1583,NaN,S,0,290.0,1
68,69,1,3,"Andersson, Miss. Erna Alexandra",female,17.00,4,2,3101281,7.9250,NaN,S,0,270.0,7
69,70,0,3,"Kink, Mr. Vincenz",male,26.00,2,0,315151,8.6625,NaN,S,0,360.0,3
70,71,0,2,"Jenkin, Mr. Stephen Curnow",male,32.00,0,0,C.A. 33111,10.5000,NaN,S,0,420.0,1
71,72,0,3,"Goodwin, Miss. Lillian Amy",female,16.00,5,2,CA 2144,46.9000,NaN,S,0,260.0,8
72,73,0,2,"Hood, Mr. Ambrose Jr",male,21.00,0,0,S.O.C. 14879,73.5000,NaN,S,0,310.0,1
73,74,0,3,"Chronopoulos, Mr. Apostolos",male,26.00,1,0,2680,14.4542,NaN,C,0,360.0,2
74,75,1,3,"Bing, Mr. Lee",male,32.00,0,0,1601,56.4958,NaN,S,0,420.0,1
75,76,0,3,"Moen, Mr. Sigurd Hansen",male,25.00,0,0,348123,7.6500,F G73,S,0,350.0,1
76,77,0,3,"Staneff, Mr. Ivan",male,NaN,0,0,349208,7.8958,NaN,S,0,NaN,1
77,78,0,3,"Moutal, Mr. Rahamin Haim",male,NaN,0,0,374746,8.0500,NaN,S,0,NaN,1
78,79,1,2,"Caldwell, Master. Alden Gates",male,0.83,0,2,248738,29.0000,NaN,S,0,108.3,3
79,80,1,3,"Dowdell, Miss. Elizabeth",female,30.00,0,0,364516,12.4750,NaN,S,0,400.0,1
80,81,0,3,"Waelens, Mr. Achille",male,22.00,0,0,345767,9.0000,NaN,S,0,320.0,1
81,82,1,3,"Sheerlinck, Mr. Jan Baptist",male,29.00,0,0,345779,9.5000,NaN,S,0,390.0,1
82,83,1,3,"McDermott, Miss. Brigdet Delia",female,NaN,0,0,330932,7.7875,NaN,Q,0,NaN,1
83,84,0,1,"Carrau, Mr. Francisco M",male,28.00,0,0,113059,47.1000,NaN,S,0,380.0,1
84,85,1,2,"Ilett, Miss. Bertha",female,17.00,0,0,SO/C 14885,10.5000,NaN,S,0,270.0,1
85,86,1,3,"Backstrom, Mrs. Karl Alfred (Maria Mathilda Gustafsson)",female,33.00,3,0,3101278,15.8500,NaN,S,0,430.0,4
86,87,0,3,"Ford, Mr. William Neal",male,16.00,1,3,W./C. 6608,34.3750,NaN,S,0,260.0,5
87,88,0,3,"Slocovski, Mr. Selman Francis",male,NaN,0,0,SOTON/OQ 392086,8.0500,NaN,S,0,NaN,1
88,89,1,1,"Fortune, Miss. Mabel Helen",female,23.00,3,2,19950,263.0000,C23 C25 C27,S,0,330.0,6
89,90,0,3,"Celotti, Mr. Francesco",male,24.00,0,0,343275,8.0500,NaN,S,0,340.0,1
90,91,0,3,"Christmann, Mr. Emil",male,29.00,0,0,343276,8.0500,NaN,S,0,390.0,1
91,92,0,3,"Andreasson, Mr. Paul Edvin",male,20.00,0,0,347466,7.8542,NaN,S,0,300.0,1
92,93,0,1,"Chaffee, Mr. Herbert Fuller",male,46.00,1,0,W.E.P. 5734,61.1750,E31,S,0,560.0,2
93,94,0,3,"Dean, Mr. Bertram Frank",male,26.00,1,2,C.A. 2315,20.5750,NaN,S,0,360.0,4
94,95,0,3,"Coxon, Mr. Daniel",male,59.00,0,0,364500,7.2500,NaN,S,0,690.0,1
95,96,0,3,"Shorney, Mr. Charles Joseph",male,NaN,0,0,374910,8.0500,NaN,S,0,NaN,1
96,97,0,1,"Goldschmidt, Mr. George B",male,71.00,0,0,PC 17754,34.6542,A5,C,0,810.0,1
97,98,1,1,"Greenfield, Mr. William Bertram",male,23.00,0,1,PC 17759,63.3583,D10 D12,C,0,330.0,2
98,99,1,2,"Doling, Mrs. John T (Ada Julia Bone)",female,34.00,0,1,231919,23.0000,NaN,S,0,440.0,2
99,100,0,2,"Kantor, Mr. Sinai",male,34.00,1,0,244367,26.0000,NaN,S,0,440.0,2
100,101,0,3,"Petranec, Miss. Matilda",female,28.00,0,0,349245,7.8958,NaN,S,0,380.0,1
101,102,0,3,"Petroff, Mr. Pastcho (""Pentcho"")",male,NaN,0,0,349215,7.8958,NaN,S,0,NaN,1
102,103,0,1,"White, Mr. Richard Frasar",male,21.00,0,1,35281,77.2875,D26,S,0,310.0,2
103,104,0,3,"Johansson, Mr. Gustaf Joel",male,33.00,0,0,7540,8.6542,NaN,S,0,430.0,1
104,105,0,3,"Gustafsson, Mr. Anders Vilhelm",male,37.00,2,0,3101276,7.9250,NaN,S,0,470.0,3
105,106,0,3,"Mionoff, Mr. Stoytcho",male,28.00,0,0,349207,7.8958,NaN,S,0,380.0,1
106,107,1,3,"Salkjelsvik, Miss. Anna Kristine",female,21.00,0,0,343120,7.6500,NaN,S,0,310.0,1
107,108,1,3,"Moss, Mr. Albert Johan",male,NaN,0,0,312991,7.7750,NaN,S,0,NaN,1
108,109,0,3,"Rekic, Mr. Tido",male,38.00,0,0,349249,7.8958,NaN,S,0,480.0,1
109,110,1,3,"Moran, Miss. Bertha",female,NaN,1,0,371110,24.1500,NaN,Q,0,NaN,2
110,111,0,1,"Porter, Mr. Walter Chamberlain",male,47.00,0,0,110465,52.0000,C110,S,0,570.0,1
111,112,0,3,"Zabour, Miss. Hileni",female,14.50,1,0,2665,14.4542,NaN,C,0,245.0,2
112,113,0,3,"Barton, Mr. David John",male,22.00,0,0,324669,8.0500,NaN,S,0,320.0,1
113,114,0,3,"Jussila, Miss. Katriina",female,20.00,1,0,4136,9.8250,NaN,S,0,300.0,2
114,115,0,3,"Attalah, Miss. Malake",female,17.00,0,0,2627,14.4583,NaN,C,0,270.0,1
115,116,0,3,"Pekoniemi, Mr. Edvard",male,21.00,0,0,STON/O 2. 3101294,7.9250,NaN,S,0,310.0,1
116,117,0,3,"Connors, Mr. Patrick",male,70.50,0,0,370369,7.7500,NaN,Q,0,805.0,1
117,118,0,2,"Turpin, Mr. William John Robert",male,29.00,1,0,11668,21.0000,NaN,S,0,390.0,2
118,119,0,1,"Baxter, Mr. Quigg Edmond",male,24.00,0,1,PC 17558,247.5208,B58 B60,C,0,340.0,2
119,120,0,3,"Andersson, Miss. Ellis Anna Maria",female,2.00,4,2,347082,31.2750,NaN,S,0,120.0,7
120,121,0,2,"Hickman, Mr. Stanley George",male,21.00,2,0,S.O.C. 14879,73.5000,NaN,S,0,310.0,3
121,122,0,3,"Moore, Mr. Leonard Charles",male,NaN,0,0,A4. 54510,8.0500,NaN,S,0,NaN,1
122,123,0,2,"Nasser, Mr. Nicholas",male,32.50,1,0,237736,30.0708,NaN,C,0,425.0,2
123,124,1,2,"Webber, Miss. Susan",female,32.50,0,0,27267,13.0000,E101,S,0,425.0,1
124,125,0,1,"White, Mr. Percival Wayland",male,54.00,0,1,35281,77.2875,D26,S,0,640.0,2
125,126,1,3,"Nicola-Yarred, Master. Elias",male,12.00,1,0,2651,11.2417,NaN,C,0,220.0,2
126,127,0,3,"McMahon, Mr. Martin",male,NaN,0,0,370372,7.7500,NaN,Q,0,NaN,1
127,128,1,3,"Madsen, Mr. Fridtjof Arne",male,24.00,0,0,C 17369,7.1417,NaN,S,0,340.0,1
128,129,1,3,"Peter, Miss. Anna",female,NaN,1,1,2668,22.3583,F E69,C,0,NaN,3
129,130,0,3,"Ekstrom, Mr. Johan",male,45.00,0,0,347061,6.9750,NaN,S,0,550.0,1
130,131,0,3,"Drazenoic, Mr. Jozef",male,33.00,0,0,349241,7.8958,NaN,C,0,430.0,1
131,132,0,3,"Coelho, Mr. Domingos Fernandeo",male,20.00,0,0,SOTON/O.Q. 3101307,7.0500,NaN,S,0,300.0,1
132,133,0,3,"Robins, Mrs. Alexander A (Grace Charity Laury)",female,47.00,1,0,A/5. 3337,14.5000,NaN,S,0,570.0,2
133,134,1,2,"Weisz, Mrs. Leopold (Mathilde Francoise Pede)",female,29.00,1,0,228414,26.0000,NaN,S,0,390.0,2
134,135,0,2,"Sobey, Mr. Samuel James Hayden",male,25.00,0,0,C.A. 29178,13.0000,NaN,S,0,350.0,1
135,136,0,2,"Richard, Mr. Emile",male,23.00,0,0,SC/PARIS 2133,15.0458,NaN,C,0,330.0,1
136,137,1,1,"Newsom, Miss. Helen Monypeny",female,19.00,0,2,11752,26.2833,D47,S,0,290.0,3
137,138,0,1,"Futrelle, Mr. Jacques Heath",male,37.00,1,0,113803,53.1000,C123,S,0,470.0,2
138,139,0,3,"Osen, Mr. Olaf Elon",male,16.00,0,0,7534,9.2167,NaN,S,0,260.0,1
139,140,0,1,"Giglio, Mr. Victor",male,24.00,0,0,PC 17593,79.2000,B86,C,0,340.0,1
140,141,0,3,"Boulos, Mrs. Joseph (Sultana)",female,NaN,0,2,2678,15.2458,NaN,C,0,NaN,3
141,142,1,3,"Nysten, Miss. Anna Sofia",female,22.00,0,0,347081,7.7500,NaN,S,0,320.0,1
142,143,1,3,"Hakkarainen, Mrs. Pekka Pietari (Elin Matilda Dolck)",female,24.00,1,0,STON/O2. 3101279,15.8500,NaN,S,0,340.0,2
143,144,0,3,"Burke, Mr. Jeremiah",male,19.00,0,0,365222,6.7500,NaN,Q,0,290.0,1
144,145,0,2,"Andrew, Mr. Edgardo Samuel",male,18.00,0,0,231945,11.5000,NaN,S,0,280.0,1
145,146,0,2,"Nicholls, Mr. Joseph Charles",male,19.00,1,1,C.A. 33112,36.7500,NaN,S,0,290.0,3
146,147,1,3,"Andersson, Mr. August Edvard (""Wennerstrom"")",male,27.00,0,0,350043,7.7958,NaN,S,0,370.0,1
147,148,0,3,"Ford, Miss. Robina Maggie ""Ruby""",female,9.00,2,2,W./C. 6608,34.3750,NaN,S,0,190.0,5
148,149,0,2,"Navratil, Mr. Michel (""Louis M Hoffman"")",male,36.50,0,2,230080,26.0000,F2,S,0,465.0,3
149,150,0,2,"Byles, Rev. Thomas Roussel Davids",male,42.00,0,0,244310,13.0000,NaN,S,0,520.0,1
150,151,0,2,"Bateman, Rev. Robert James",male,51.00,0,0,S.O.P. 1166,12.5250,NaN,S,0,610.0,1
151,152,1,1,"Pears, Mrs. Thomas (Edith Wearne)",female,22.00,1,0,113776,66.6000,C2,S,0,320.0,2
152,153,0,3,"Meo, Mr. Alfonzo",male,55.50,0,0,A.5. 11206,8.0500,NaN,S,0,655.0,1
153,154,0,3,"van Billiard, Mr. Austin Blyler",male,40.50,0,2,A/5. 851,14.5000,NaN,S,0,505.0,3
154,155,0,3,"Olsen, Mr. Ole Martin",male,NaN,0,0,Fa 265302,7.3125,NaN,S,0,NaN,1
155,156,0,1,"Williams, Mr. Charles Duane",male,51.00,0,1,PC 17597,61.3792,NaN,C,0,610.0,2
156,157,1,3,"Gilnagh, Miss. Katherine ""Katie""",female,16.00,0,0,35851,7.7333,NaN,Q,0,260.0,1
157,158,0,3,"Corn, Mr. Harry",male,30.00,0,0,SOTON/OQ 392090,8.0500,NaN,S,0,400.0,1
158,159,0,3,"Smiljanic, Mr. Mile",male,NaN,0,0,315037,8.6625,NaN,S,0,NaN,1
159,160,0,3,"Sage, Master. Thomas Henry",male,NaN,8,2,CA. 2343,69.5500,NaN,S,0,NaN,11
160,161,0,3,"Cribb, Mr. John Hatfield",male,44.00,0,1,371362,16.1000,NaN,S,0,540.0,2
161,162,1,2,"Watt, Mrs. James (Elizabeth ""Bessie"" Inglis Milne)",female,40.00,0,0,C.A. 33595,15.7500,NaN,S,0,500.0,1
162,163,0,3,"Bengtsson, Mr. John Viktor",male,26.00,0,0,347068,7.7750,NaN,S,0,360.0,1
163,164,0,3,"Calic, Mr. Jovo",male,17.00,0,0,315093,8.6625,NaN,S,0,270.0,1
164,165,0,3,"Panula, Master. Eino Viljami",male,1.00,4,1,3101295,39.6875,NaN,S,0,110.0,6
165,166,1,3,"Goldsmith, Master. Frank John William ""Frankie""",male,9.00,0,2,363291,20.5250,NaN,S,0,190.0,3
166,167,1,1,"Chibnall, Mrs. (Edith Martha Bowerman)",female,NaN,0,1,113505,55.0000,E33,S,0,NaN,2
167,168,0,3,"Skoog, Mrs. William (Anna Bernhardina Karlsson)",female,45.00,1,4,347088,27.9000,NaN,S,0,550.0,6
168,169,0,1,"Baumann, Mr. John D",male,NaN,0,0,PC 17318,25.9250,NaN,S,0,NaN,1
169,170,0,3,"Ling, Mr. Lee",male,28.00,0,0,1601,56.4958,NaN,S,0,380.0,1
170,171,0,1,"Van der hoef, Mr. Wyckoff",male,61.00,0,0,111240,33.5000,B19,S,0,710.0,1
171,172,0,3,"Rice, Master. Arthur",male,4.00,4,1,382652,29.1250,NaN,Q,0,140.0,6
172,173,1,3,"Johnson, Miss. Eleanor Ileen",female,1.00,1,1,347742,11.1333,NaN,S,0,110.0,3
173,174,0,3,"Sivola, Mr. Antti Wilhelm",male,21.00,0,0,STON/O 2. 3101280,7.9250,NaN,S,0,310.0,1
174,175,0,1,"Smith, Mr. James Clinch",male,56.00,0,0,17764,30.6958,A7,C,0,660.0,1
175,176,0,3,"Klasen, Mr. Klas Albin",male,18.00,1,1,350404,7.8542,NaN,S,0,280.0,3
176,177,0,3,"Lefebre, Master. Henry Forbes",male,NaN,3,1,4133,25.4667,NaN,S,0,NaN,5
177,178,0,1,"Isham, Miss. Ann Elizabeth",female,50.00,0,0,PC 17595,28.7125,C49,C,0,600.0,1
178,179,0,2,"Hale, Mr. Reginald",male,30.00,0,0,250653,13.0000,NaN,S,0,400.0,1
179,180,0,3,"Leonard, Mr. Lionel",male,36.00,0,0,LINE,0.0000,NaN,S,0,460.0,1
180,181,0,3,"Sage, Miss. Constance Gladys",female,NaN,8,2,CA. 2343,69.5500,NaN,S,0,NaN,11
181,182,0,2,"Pernot, Mr. Rene",male,NaN,0,0,SC/PARIS 2131,15.0500,NaN,C,0,NaN,1
182,183,0,3,"Asplund, Master. Clarence Gustaf Hugo",male,9.00,4,2,347077,31.3875,NaN,S,0,190.0,7
183,184,1,2,"Becker, Master. Richard F",male,1.00,2,1,230136,39.0000,F4,S,0,110.0,4
184,185,1,3,"Kink-Heilmann, Miss. Luise Gretchen",female,4.00,0,2,315153,22.0250,NaN,S,0,140.0,3
185,186,0,1,"Rood, Mr. Hugh Roscoe",male,NaN,0,0,113767,50.0000,A32,S,0,NaN,1
186,187,1,3,"O'Brien, Mrs. Thomas (Johanna ""Hannah"" Godfrey)",female,NaN,1,0,370365,15.5000,NaN,Q,0,NaN,2
187,188,1,1,"Romaine, Mr. Charles Hallace (""Mr C Rolmane"")",male,45.00,0,0,111428,26.5500,NaN,S,0,550.0,1
188,189,0,3,"Bourke, Mr. John",male,40.00,1,1,364849,15.5000,NaN,Q,0,500.0,3
189,190,0,3,"Turcin, Mr. Stjepan",male,36.00,0,0,349247,7.8958,NaN,S,0,460.0,1
190,191,1,2,"Pinsky, Mrs. (Rosa)",female,32.00,0,0,234604,13.0000,NaN,S,0,420.0,1
191,192,0,2,"Carbines, Mr. William",male,19.00,0,0,28424,13.0000,NaN,S,0,290.0,1
192,193,1,3,"Andersen-Jensen, Miss. Carla Christine Nielsine",female,19.00,1,0,350046,7.8542,NaN,S,0,290.0,2
193,194,1,2,"Navratil, Master. Michel M",male,3.00,1,1,230080,26.0000,F2,S,0,130.0,3
194,195,1,1,"Brown, Mrs. James Joseph (Margaret Tobin)",female,44.00,0,0,PC 17610,27.7208,B4,C,0,540.0,1
195,196,1,1,"Lurette, Miss. Elise",female,58.00,0,0,PC 17569,146.5208,B80,C,0,680.0,1
196,197,0,3,"Mernagh, Mr. Robert",male,NaN,0,0,368703,7.7500,NaN,Q,0,NaN,1
197,198,0,3,"Olsen, Mr. Karl Siegwart Andreas",male,42.00,0,1,4579,8.4042,NaN,S,0,520.0,2
198,199,1,3,"Madigan, Miss. Margaret ""Maggie""",female,NaN,0,0,370370,7.7500,NaN,Q,0,NaN,1
199,200,0,2,"Yrois, Miss. Henriette (""Mrs Harbeck"")",female,24.00,0,0,248747,13.0000,NaN,S,0,340.0,1
200,201,0,3,"Vande Walle, Mr. Nestor Cyriel",male,28.00,0,0,345770,9.5000,NaN,S,0,380.0,1
201,202,0,3,"Sage, Mr. Frederick",male,NaN,8,2,CA. 2343,69.5500,NaN,S,0,NaN,11
202,203,0,3,"Johanson, Mr. Jakob Alfred",male,34.00,0,0,3101264,6.4958,NaN,S,0,440.0,1
203,204,0,3,"Youseff, Mr. Gerious",male,45.50,0,0,2628,7.2250,NaN,C,0,555.0,1
204,205,1,3,"Cohen, Mr. Gurshon ""Gus""",male,18.00,0,0,A/5 3540,8.0500,NaN,S,0,280.0,1
205,206,0,3,"Strom, Miss. Telma Matilda",female,2.00,0,1,347054,10.4625,G6,S,0,120.0,2
206,207,0,3,"Backstrom, Mr. Karl Alfred",male,32.00,1,0,3101278,15.8500,NaN,S,0,420.0,2
207,208,1,3,"Albimona, Mr. Nassef Cassem",male,26.00,0,0,2699,18.7875,NaN,C,0,360.0,1
208,209,1,3,"Carr, Miss. Helen ""Ellen""",female,16.00,0,0,367231,7.7500,NaN,Q,0,260.0,1
209,210,1,1,"Blank, Mr. Henry",male,40.00,0,0,112277,31.0000,A31,C,0,500.0,1
210,211,0,3,"Ali, Mr. Ahmed",male,24.00,0,0,SOTON/O.Q. 3101311,7.0500,NaN,S,0,340.0,1
211,212,1,2,"Cameron, Miss. Clear Annie",female,35.00,0,0,F.C.C. 13528,21.0000,NaN,S,0,450.0,1
212,213,0,3,"Perkin, Mr. John Henry",male,22.00,0,0,A/5 21174,7.2500,NaN,S,0,320.0,1
213,214,0,2,"Givard, Mr. Hans Kristensen",male,30.00,0,0,250646,13.0000,NaN,S,0,400.0,1
214,215,0,3,"Kiernan, Mr. Philip",male,NaN,1,0,367229,7.7500,NaN,Q,0,NaN,2
215,216,1,1,"Newell, Miss. Madeleine",female,31.00,1,0,35273,113.2750,D36,C,0,410.0,2
216,217,1,3,"Honkanen, Miss. Eliina",female,27.00,0,0,STON/O2. 3101283,7.9250,NaN,S,0,370.0,1
217,218,0,2,"Jacobsohn, Mr. Sidney Samuel",male,42.00,1,0,243847,27.0000,NaN,S,0,520.0,2
218,219,1,1,"Bazzani, Miss. Albina",female,32.00,0,0,11813,76.2917,D15,C,0,420.0,1
219,220,0,2,"Harris, Mr. Walter",male,30.00,0,0,W/C 14208,10.5000,NaN,S,0,400.0,1
220,221,1,3,"Sunderland, Mr. Victor Francis",male,16.00,0,0,SOTON/OQ 392089,8.0500,NaN,S,0,260.0,1
221,222,0,2,"Bracken, Mr. James H",male,27.00,0,0,220367,13.0000,NaN,S,0,370.0,1
222,223,0,3,"Green, Mr. George Henry",male,51.00,0,0,21440,8.0500,NaN,S,0,610.0,1
223,224,0,3,"Nenkoff, Mr. Christo",male,NaN,0,0,349234,7.8958,NaN,S,0,NaN,1
224,225,1,1,"Hoyt, Mr. Frederick Maxfield",male,38.00,1,0,19943,90.0000,C93,S,0,480.0,2
225,226,0,3,"Berglund, Mr. Karl Ivar Sven",male,22.00,0,0,PP 4348,9.3500,NaN,S,0,320.0,1
226,227,1,2,"Mellors, Mr. William John",male,19.00,0,0,SW/PP 751,10.5000,NaN,S,0,290.0,1

In [24]:
# DataFrame 삭제

In [26]:
titanic_drop_df = titanic_df.drop('Age_0', axis=1 )
titanic_drop_df.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Age_by_10,Family_No
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,320.0,2
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38.0,1,0,PC 17599,71.2833,C85,C,480.0,2
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,360.0,1

In [27]:
titanic_df.drop('Age_by_10', axis=1 )

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Age_0,Family_No
0,1,0,3,"Braund, Mr. Owen Harris",male,22.00,1,0,A/5 21171,7.2500,NaN,S,0,2
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38.00,1,0,PC 17599,71.2833,C85,C,0,2
2,3,1,3,"Heikkinen, Miss. Laina",female,26.00,0,0,STON/O2. 3101282,7.9250,NaN,S,0,1
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.00,1,0,113803,53.1000,C123,S,0,2
4,5,0,3,"Allen, Mr. William Henry",male,35.00,0,0,373450,8.0500,NaN,S,0,1
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q,0,1
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.00,0,0,17463,51.8625,E46,S,0,1
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.00,3,1,349909,21.0750,NaN,S,0,5
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.00,0,2,347742,11.1333,NaN,S,0,3
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.00,1,0,237736,30.0708,NaN,C,0,2
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.00,1,1,PP 9549,16.7000,G6,S,0,3
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.00,0,0,113783,26.5500,C103,S,0,1
12,13,0,3,"Saundercock, Mr. William Henry",male,20.00,0,0,A/5. 2151,8.0500,NaN,S,0,1
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.00,1,5,347082,31.2750,NaN,S,0,7
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.00,0,0,350406,7.8542,NaN,S,0,1
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.00,0,0,248706,16.0000,NaN,S,0,1
16,17,0,3,"Rice, Master. Eugene",male,2.00,4,1,382652,29.1250,NaN,Q,0,6
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S,0,1
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)",female,31.00,1,0,345763,18.0000,NaN,S,0,2
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C,0,1
20,21,0,2,"Fynney, Mr. Joseph J",male,35.00,0,0,239865,26.0000,NaN,S,0,1
21,22,1,2,"Beesley, Mr. Lawrence",male,34.00,0,0,248698,13.0000,D56,S,0,1
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.00,0,0,330923,8.0292,NaN,Q,0,1
23,24,1,1,"Sloper, Mr. William Thompson",male,28.00,0,0,113788,35.5000,A6,S,0,1
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.00,3,1,349909,21.0750,NaN,S,0,5
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson)",female,38.00,1,5,347077,31.3875,NaN,S,0,7
26,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C,0,1
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.00,3,2,19950,263.0000,C23 C25 C27,S,0,6
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q,0,1
29,30,0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S,0,1
30,31,0,1,"Uruchurtu, Don. Manuel E",male,40.00,0,0,PC 17601,27.7208,NaN,C,0,1
31,32,1,1,"Spencer, Mrs. William Augustus (Marie Eugenie)",female,NaN,1,0,PC 17569,146.5208,B78,C,0,2
32,33,1,3,"Glynn, Miss. Mary Agatha",female,NaN,0,0,335677,7.7500,NaN,Q,0,1
33,34,0,2,"Wheadon, Mr. Edward H",male,66.00,0,0,C.A. 24579,10.5000,NaN,S,0,1
34,35,0,1,"Meyer, Mr. Edgar Joseph",male,28.00,1,0,PC 17604,82.1708,NaN,C,0,2
35,36,0,1,"Holverson, Mr. Alexander Oskar",male,42.00,1,0,113789,52.0000,NaN,S,0,2
36,37,1,3,"Mamee, Mr. Hanna",male,NaN,0,0,2677,7.2292,NaN,C,0,1
37,38,0,3,"Cann, Mr. Ernest Charles",male,21.00,0,0,A./5. 2152,8.0500,NaN,S,0,1
38,39,0,3,"Vander Planke, Miss. Augusta Maria",female,18.00,2,0,345764,18.0000,NaN,S,0,3
39,40,1,3,"Nicola-Yarred, Miss. Jamila",female,14.00,1,0,2651,11.2417,NaN,C,0,2
40,41,0,3,"Ahlin, Mrs. Johan (Johanna Persdotter Larsson)",female,40.00,1,0,7546,9.4750,NaN,S,0,2
41,42,0,2,"Turpin, Mrs. William John Robert (Dorothy Ann Wonnacott)",female,27.00,1,0,11668,21.0000,NaN,S,0,2
42,43,0,3,"Kraeff, Mr. Theodor",male,NaN,0,0,349253,7.8958,NaN,C,0,1
43,44,1,2,"Laroche, Miss. Simonne Marie Anne Andree",female,3.00,1,2,SC/Paris 2123,41.5792,NaN,C,0,4
44,45,1,3,"Devaney, Miss. Margaret Delia",female,19.00,0,0,330958,7.8792,NaN,Q,0,1
45,46,0,3,"Rogers, Mr. William John",male,NaN,0,0,S.C./A.4. 23567,8.0500,NaN,S,0,1
46,47,0,3,"Lennon, Mr. Denis",male,NaN,1,0,370371,15.5000,NaN,Q,0,2
47,48,1,3,"O'Driscoll, Miss. Bridget",female,NaN,0,0,14311,7.7500,NaN,Q,0,1
48,49,0,3,"Samaan, Mr. Youssef",male,NaN,2,0,2662,21.6792,NaN,C,0,3
49,50,0,3,"Arnold-Franchi, Mrs. Josef (Josefine Franchi)",female,18.00,1,0,349237,17.8000,NaN,S,0,2
50,51,0,3,"Panula, Master. Juha Niilo",male,7.00,4,1,3101295,39.6875,NaN,S,0,6
51,52,0,3,"Nosworthy, Mr. Richard Cater",male,21.00,0,0,A/4. 39886,7.8000,NaN,S,0,1
52,53,1,1,"Harper, Mrs. Henry Sleeper (Myna Haxtun)",female,49.00,1,0,PC 17572,76.7292,D33,C,0,2
53,54,1,2,"Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkinson)",female,29.00,1,0,2926,26.0000,NaN,S,0,2
54,55,0,1,"Ostby, Mr. Engelhart Cornelius",male,65.00,0,1,113509,61.9792,B30,C,0,2
55,56,1,1,"Woolner, Mr. Hugh",male,NaN,0,0,19947,35.5000,C52,S,0,1
56,57,1,2,"Rugg, Miss. Emily",female,21.00,0,0,C.A. 31026,10.5000,NaN,S,0,1
57,58,0,3,"Novel, Mr. Mansouer",male,28.50,0,0,2697,7.2292,NaN,C,0,1
58,59,1,2,"West, Miss. Constance Mirium",female,5.00,1,2,C.A. 34651,27.7500,NaN,S,0,4
59,60,0,3,"Goodwin, Master. William Frederick",male,11.00,5,2,CA 2144,46.9000,NaN,S,0,8
60,61,0,3,"Sirayanian, Mr. Orsen",male,22.00,0,0,2669,7.2292,NaN,C,0,1
61,62,1,1,"Icard, Miss. Amelie",female,38.00,0,0,113572,80.0000,B28,NaN,0,1
62,63,0,1,"Harris, Mr. Henry Birkhardt",male,45.00,1,0,36973,83.4750,C83,S,0,2
63,64,0,3,"Skoog, Master. Harald",male,4.00,3,2,347088,27.9000,NaN,S,0,6
64,65,0,1,"Stewart, Mr. Albert A",male,NaN,0,0,PC 17605,27.7208,NaN,C,0,1
65,66,1,3,"Moubarek, Master. Gerios",male,NaN,1,1,2661,15.2458,NaN,C,0,3
66,67,1,2,"Nye, Mrs. (Elizabeth Ramell)",female,29.00,0,0,C.A. 29395,10.5000,F33,S,0,1
67,68,0,3,"Crease, Mr. Ernest James",male,19.00,0,0,S.P. 3464,8.1583,NaN,S,0,1
68,69,1,3,"Andersson, Miss. Erna Alexandra",female,17.00,4,2,3101281,7.9250,NaN,S,0,7
69,70,0,3,"Kink, Mr. Vincenz",male,26.00,2,0,315151,8.6625,NaN,S,0,3
70,71,0,2,"Jenkin, Mr. Stephen Curnow",male,32.00,0,0,C.A. 33111,10.5000,NaN,S,0,1
71,72,0,3,"Goodwin, Miss. Lillian Amy",female,16.00,5,2,CA 2144,46.9000,NaN,S,0,8
72,73,0,2,"Hood, Mr. Ambrose Jr",male,21.00,0,0,S.O.C. 14879,73.5000,NaN,S,0,1
73,74,0,3,"Chronopoulos, Mr. Apostolos",male,26.00,1,0,2680,14.4542,NaN,C,0,2
74,75,1,3,"Bing, Mr. Lee",male,32.00,0,0,1601,56.4958,NaN,S,0,1
75,76,0,3,"Moen, Mr. Sigurd Hansen",male,25.00,0,0,348123,7.6500,F G73,S,0,1
76,77,0,3,"Staneff, Mr. Ivan",male,NaN,0,0,349208,7.8958,NaN,S,0,1
77,78,0,3,"Moutal, Mr. Rahamin Haim",male,NaN,0,0,374746,8.0500,NaN,S,0,1
78,79,1,2,"Caldwell, Master. Alden Gates",male,0.83,0,2,248738,29.0000,NaN,S,0,3
79,80,1,3,"Dowdell, Miss. Elizabeth",female,30.00,0,0,364516,12.4750,NaN,S,0,1
80,81,0,3,"Waelens, Mr. Achille",male,22.00,0,0,345767,9.0000,NaN,S,0,1
81,82,1,3,"Sheerlinck, Mr. Jan Baptist",male,29.00,0,0,345779,9.5000,NaN,S,0,1
82,83,1,3,"McDermott, Miss. Brigdet Delia",female,NaN,0,0,330932,7.7875,NaN,Q,0,1
83,84,0,1,"Carrau, Mr. Francisco M",male,28.00,0,0,113059,47.1000,NaN,S,0,1
84,85,1,2,"Ilett, Miss. Bertha",female,17.00,0,0,SO/C 14885,10.5000,NaN,S,0,1
85,86,1,3,"Backstrom, Mrs. Karl Alfred (Maria Mathilda Gustafsson)",female,33.00,3,0,3101278,15.8500,NaN,S,0,4
86,87,0,3,"Ford, Mr. William Neal",male,16.00,1,3,W./C. 6608,34.3750,NaN,S,0,5
87,88,0,3,"Slocovski, Mr. Selman Francis",male,NaN,0,0,SOTON/OQ 392086,8.0500,NaN,S,0,1
88,89,1,1,"Fortune, Miss. Mabel Helen",female,23.00,3,2,19950,263.0000,C23 C25 C27,S,0,6
89,90,0,3,"Celotti, Mr. Francesco",male,24.00,0,0,343275,8.0500,NaN,S,0,1
90,91,0,3,"Christmann, Mr. Emil",male,29.00,0,0,343276,8.0500,NaN,S,0,1
91,92,0,3,"Andreasson, Mr. Paul Edvin",male,20.00,0,0,347466,7.8542,NaN,S,0,1
92,93,0,1,"Chaffee, Mr. Herbert Fuller",male,46.00,1,0,W.E.P. 5734,61.1750,E31,S,0,2
93,94,0,3,"Dean, Mr. Bertram Frank",male,26.00,1,2,C.A. 2315,20.5750,NaN,S,0,4
94,95,0,3,"Coxon, Mr. Daniel",male,59.00,0,0,364500,7.2500,NaN,S,0,1
95,96,0,3,"Shorney, Mr. Charles Joseph",male,NaN,0,0,374910,8.0500,NaN,S,0,1
96,97,0,1,"Goldschmidt, Mr. George B",male,71.00,0,0,PC 17754,34.6542,A5,C,0,1
97,98,1,1,"Greenfield, Mr. William Bertram",male,23.00,0,1,PC 17759,63.3583,D10 D12,C,0,2
98,99,1,2,"Doling, Mrs. John T (Ada Julia Bone)",female,34.00,0,1,231919,23.0000,NaN,S,0,2
99,100,0,2,"Kantor, Mr. Sinai",male,34.00,1,0,244367,26.0000,NaN,S,0,2
100,101,0,3,"Petranec, Miss. Matilda",female,28.00,0,0,349245,7.8958,NaN,S,0,1
101,102,0,3,"Petroff, Mr. Pastcho (""Pentcho"")",male,NaN,0,0,349215,7.8958,NaN,S,0,1
102,103,0,1,"White, Mr. Richard Frasar",male,21.00,0,1,35281,77.2875,D26,S,0,2
103,104,0,3,"Johansson, Mr. Gustaf Joel",male,33.00,0,0,7540,8.6542,NaN,S,0,1
104,105,0,3,"Gustafsson, Mr. Anders Vilhelm",male,37.00,2,0,3101276,7.9250,NaN,S,0,3
105,106,0,3,"Mionoff, Mr. Stoytcho",male,28.00,0,0,349207,7.8958,NaN,S,0,1
106,107,1,3,"Salkjelsvik, Miss. Anna Kristine",female,21.00,0,0,343120,7.6500,NaN,S,0,1
107,108,1,3,"Moss, Mr. Albert Johan",male,NaN,0,0,312991,7.7750,NaN,S,0,1
108,109,0,3,"Rekic, Mr. Tido",male,38.00,0,0,349249,7.8958,NaN,S,0,1
109,110,1,3,"Moran, Miss. Bertha",female,NaN,1,0,371110,24.1500,NaN,Q,0,2
110,111,0,1,"Porter, Mr. Walter Chamberlain",male,47.00,0,0,110465,52.0000,C110,S,0,1
111,112,0,3,"Zabour, Miss. Hileni",female,14.50,1,0,2665,14.4542,NaN,C,0,2
112,113,0,3,"Barton, Mr. David John",male,22.00,0,0,324669,8.0500,NaN,S,0,1
113,114,0,3,"Jussila, Miss. Katriina",female,20.00,1,0,4136,9.8250,NaN,S,0,2
114,115,0,3,"Attalah, Miss. Malake",female,17.00,0,0,2627,14.4583,NaN,C,0,1
115,116,0,3,"Pekoniemi, Mr. Edvard",male,21.00,0,0,STON/O 2. 3101294,7.9250,NaN,S,0,1
116,117,0,3,"Connors, Mr. Patrick",male,70.50,0,0,370369,7.7500,NaN,Q,0,1
117,118,0,2,"Turpin, Mr. William John Robert",male,29.00,1,0,11668,21.0000,NaN,S,0,2
118,119,0,1,"Baxter, Mr. Quigg Edmond",male,24.00,0,1,PC 17558,247.5208,B58 B60,C,0,2
119,120,0,3,"Andersson, Miss. Ellis Anna Maria",female,2.00,4,2,347082,31.2750,NaN,S,0,7
120,121,0,2,"Hickman, Mr. Stanley George",male,21.00,2,0,S.O.C. 14879,73.5000,NaN,S,0,3
121,122,0,3,"Moore, Mr. Leonard Charles",male,NaN,0,0,A4. 54510,8.0500,NaN,S,0,1
122,123,0,2,"Nasser, Mr. Nicholas",male,32.50,1,0,237736,30.0708,NaN,C,0,2
123,124,1,2,"Webber, Miss. Susan",female,32.50,0,0,27267,13.0000,E101,S,0,1
124,125,0,1,"White, Mr. Percival Wayland",male,54.00,0,1,35281,77.2875,D26,S,0,2
125,126,1,3,"Nicola-Yarred, Master. Elias",male,12.00,1,0,2651,11.2417,NaN,C,0,2
126,127,0,3,"McMahon, Mr. Martin",male,NaN,0,0,370372,7.7500,NaN,Q,0,1
127,128,1,3,"Madsen, Mr. Fridtjof Arne",male,24.00,0,0,C 17369,7.1417,NaN,S,0,1
128,129,1,3,"Peter, Miss. Anna",female,NaN,1,1,2668,22.3583,F E69,C,0,3
129,130,0,3,"Ekstrom, Mr. Johan",male,45.00,0,0,347061,6.9750,NaN,S,0,1
130,131,0,3,"Drazenoic, Mr. Jozef",male,33.00,0,0,349241,7.8958,NaN,C,0,1
131,132,0,3,"Coelho, Mr. Domingos Fernandeo",male,20.00,0,0,SOTON/O.Q. 3101307,7.0500,NaN,S,0,1
132,133,0,3,"Robins, Mrs. Alexander A (Grace Charity Laury)",female,47.00,1,0,A/5. 3337,14.5000,NaN,S,0,2
133,134,1,2,"Weisz, Mrs. Leopold (Mathilde Francoise Pede)",female,29.00,1,0,228414,26.0000,NaN,S,0,2
134,135,0,2,"Sobey, Mr. Samuel James Hayden",male,25.00,0,0,C.A. 29178,13.0000,NaN,S,0,1
135,136,0,2,"Richard, Mr. Emile",male,23.00,0,0,SC/PARIS 2133,15.0458,NaN,C,0,1
136,137,1,1,"Newsom, Miss. Helen Monypeny",female,19.00,0,2,11752,26.2833,D47,S,0,3
137,138,0,1,"Futrelle, Mr. Jacques Heath",male,37.00,1,0,113803,53.1000,C123,S,0,2
138,139,0,3,"Osen, Mr. Olaf Elon",male,16.00,0,0,7534,9.2167,NaN,S,0,1
139,140,0,1,"Giglio, Mr. Victor",male,24.00,0,0,PC 17593,79.2000,B86,C,0,1
140,141,0,3,"Boulos, Mrs. Joseph (Sultana)",female,NaN,0,2,2678,15.2458,NaN,C,0,3
141,142,1,3,"Nysten, Miss. Anna Sofia",female,22.00,0,0,347081,7.7500,NaN,S,0,1
142,143,1,3,"Hakkarainen, Mrs. Pekka Pietari (Elin Matilda Dolck)",female,24.00,1,0,STON/O2. 3101279,15.8500,NaN,S,0,2
143,144,0,3,"Burke, Mr. Jeremiah",male,19.00,0,0,365222,6.7500,NaN,Q,0,1
144,145,0,2,"Andrew, Mr. Edgardo Samuel",male,18.00,0,0,231945,11.5000,NaN,S,0,1
145,146,0,2,"Nicholls, Mr. Joseph Charles",male,19.00,1,1,C.A. 33112,36.7500,NaN,S,0,3
146,147,1,3,"Andersson, Mr. August Edvard (""Wennerstrom"")",male,27.00,0,0,350043,7.7958,NaN,S,0,1
147,148,0,3,"Ford, Miss. Robina Maggie ""Ruby""",female,9.00,2,2,W./C. 6608,34.3750,NaN,S,0,5
148,149,0,2,"Navratil, Mr. Michel (""Louis M Hoffman"")",male,36.50,0,2,230080,26.0000,F2,S,0,3
149,150,0,2,"Byles, Rev. Thomas Roussel Davids",male,42.00,0,0,244310,13.0000,NaN,S,0,1
150,151,0,2,"Bateman, Rev. Robert James",male,51.00,0,0,S.O.P. 1166,12.5250,NaN,S,0,1
151,152,1,1,"Pears, Mrs. Thomas (Edith Wearne)",female,22.00,1,0,113776,66.6000,C2,S,0,2
152,153,0,3,"Meo, Mr. Alfonzo",male,55.50,0,0,A.5. 11206,8.0500,NaN,S,0,1
153,154,0,3,"van Billiard, Mr. Austin Blyler",male,40.50,0,2,A/5. 851,14.5000,NaN,S,0,3
154,155,0,3,"Olsen, Mr. Ole Martin",male,NaN,0,0,Fa 265302,7.3125,NaN,S,0,1
155,156,0,1,"Williams, Mr. Charles Duane",male,51.00,0,1,PC 17597,61.3792,NaN,C,0,2
156,157,1,3,"Gilnagh, Miss. Katherine ""Katie""",female,16.00,0,0,35851,7.7333,NaN,Q,0,1
157,158,0,3,"Corn, Mr. Harry",male,30.00,0,0,SOTON/OQ 392090,8.0500,NaN,S,0,1
158,159,0,3,"Smiljanic, Mr. Mile",male,NaN,0,0,315037,8.6625,NaN,S,0,1
159,160,0,3,"Sage, Master. Thomas Henry",male,NaN,8,2,CA. 2343,69.5500,NaN,S,0,11
160,161,0,3,"Cribb, Mr. John Hatfield",male,44.00,0,1,371362,16.1000,NaN,S,0,2
161,162,1,2,"Watt, Mrs. James (Elizabeth ""Bessie"" Inglis Milne)",female,40.00,0,0,C.A. 33595,15.7500,NaN,S,0,1
162,163,0,3,"Bengtsson, Mr. John Viktor",male,26.00,0,0,347068,7.7750,NaN,S,0,1
163,164,0,3,"Calic, Mr. Jovo",male,17.00,0,0,315093,8.6625,NaN,S,0,1
164,165,0,3,"Panula, Master. Eino Viljami",male,1.00,4,1,3101295,39.6875,NaN,S,0,6
165,166,1,3,"Goldsmith, Master. Frank John William ""Frankie""",male,9.00,0,2,363291,20.5250,NaN,S,0,3
166,167,1,1,"Chibnall, Mrs. (Edith Martha Bowerman)",female,NaN,0,1,113505,55.0000,E33,S,0,2
167,168,0,3,"Skoog, Mrs. William (Anna Bernhardina Karlsson)",female,45.00,1,4,347088,27.9000,NaN,S,0,6
168,169,0,1,"Baumann, Mr. John D",male,NaN,0,0,PC 17318,25.9250,NaN,S,0,1
169,170,0,3,"Ling, Mr. Lee",male,28.00,0,0,1601,56.4958,NaN,S,0,1
170,171,0,1,"Van der hoef, Mr. Wyckoff",male,61.00,0,0,111240,33.5000,B19,S,0,1
171,172,0,3,"Rice, Master. Arthur",male,4.00,4,1,382652,29.1250,NaN,Q,0,6
172,173,1,3,"Johnson, Miss. Eleanor Ileen",female,1.00,1,1,347742,11.1333,NaN,S,0,3
173,174,0,3,"Sivola, Mr. Antti Wilhelm",male,21.00,0,0,STON/O 2. 3101280,7.9250,NaN,S,0,1
174,175,0,1,"Smith, Mr. James Clinch",male,56.00,0,0,17764,30.6958,A7,C,0,1
175,176,0,3,"Klasen, Mr. Klas Albin",male,18.00,1,1,350404,7.8542,NaN,S,0,3
176,177,0,3,"Lefebre, Master. Henry Forbes",male,NaN,3,1,4133,25.4667,NaN,S,0,5
177,178,0,1,"Isham, Miss. Ann Elizabeth",female,50.00,0,0,PC 17595,28.7125,C49,C,0,1
178,179,0,2,"Hale, Mr. Reginald",male,30.00,0,0,250653,13.0000,NaN,S,0,1
179,180,0,3,"Leonard, Mr. Lionel",male,36.00,0,0,LINE,0.0000,NaN,S,0,1
180,181,0,3,"Sage, Miss. Constance Gladys",female,NaN,8,2,CA. 2343,69.5500,NaN,S,0,11
181,182,0,2,"Pernot, Mr. Rene",male,NaN,0,0,SC/PARIS 2131,15.0500,NaN,C,0,1
182,183,0,3,"Asplund, Master. Clarence Gustaf Hugo",male,9.00,4,2,347077,31.3875,NaN,S,0,7
183,184,1,2,"Becker, Master. Richard F",male,1.00,2,1,230136,39.0000,F4,S,0,4
184,185,1,3,"Kink-Heilmann, Miss. Luise Gretchen",female,4.00,0,2,315153,22.0250,NaN,S,0,3
185,186,0,1,"Rood, Mr. Hugh Roscoe",male,NaN,0,0,113767,50.0000,A32,S,0,1
186,187,1,3,"O'Brien, Mrs. Thomas (Johanna ""Hannah"" Godfrey)",female,NaN,1,0,370365,15.5000,NaN,Q,0,2
187,188,1,1,"Romaine, Mr. Charles Hallace (""Mr C Rolmane"")",male,45.00,0,0,111428,26.5500,NaN,S,0,1
188,189,0,3,"Bourke, Mr. John",male,40.00,1,1,364849,15.5000,NaN,Q,0,3
189,190,0,3,"Turcin, Mr. Stjepan",male,36.00,0,0,349247,7.8958,NaN,S,0,1
190,191,1,2,"Pinsky, Mrs. (Rosa)",female,32.00,0,0,234604,13.0000,NaN,S,0,1
191,192,0,2,"Carbines, Mr. William",male,19.00,0,0,28424,13.0000,NaN,S,0,1
192,193,1,3,"Andersen-Jensen, Miss. Carla Christine Nielsine",female,19.00,1,0,350046,7.8542,NaN,S,0,2
193,194,1,2,"Navratil, Master. Michel M",male,3.00,1,1,230080,26.0000,F2,S,0,3
194,195,1,1,"Brown, Mrs. James Joseph (Margaret Tobin)",female,44.00,0,0,PC 17610,27.7208,B4,C,0,1
195,196,1,1,"Lurette, Miss. Elise",female,58.00,0,0,PC 17569,146.5208,B80,C,0,1
196,197,0,3,"Mernagh, Mr. Robert",male,NaN,0,0,368703,7.7500,NaN,Q,0,1
197,198,0,3,"Olsen, Mr. Karl Siegwart Andreas",male,42.00,0,1,4579,8.4042,NaN,S,0,2
198,199,1,3,"Madigan, Miss. Margaret ""Maggie""",female,NaN,0,0,370370,7.7500,NaN,Q,0,1
199,200,0,2,"Yrois, Miss. Henriette (""Mrs Harbeck"")",female,24.00,0,0,248747,13.0000,NaN,S,0,1
200,201,0,3,"Vande Walle, Mr. Nestor Cyriel",male,28.00,0,0,345770,9.5000,NaN,S,0,1
201,202,0,3,"Sage, Mr. Frederick",male,NaN,8,2,CA. 2343,69.5500,NaN,S,0,11
202,203,0,3,"Johanson, Mr. Jakob Alfred",male,34.00,0,0,3101264,6.4958,NaN,S,0,1
203,204,0,3,"Youseff, Mr. Gerious",male,45.50,0,0,2628,7.2250,NaN,C,0,1
204,205,1,3,"Cohen, Mr. Gurshon ""Gus""",male,18.00,0,0,A/5 3540,8.0500,NaN,S,0,1
205,206,0,3,"Strom, Miss. Telma Matilda",female,2.00,0,1,347054,10.4625,G6,S,0,2
206,207,0,3,"Backstrom, Mr. Karl Alfred",male,32.00,1,0,3101278,15.8500,NaN,S,0,2
207,208,1,3,"Albimona, Mr. Nassef Cassem",male,26.00,0,0,2699,18.7875,NaN,C,0,1
208,209,1,3,"Carr, Miss. Helen ""Ellen""",female,16.00,0,0,367231,7.7500,NaN,Q,0,1
209,210,1,1,"Blank, Mr. Henry",male,40.00,0,0,112277,31.0000,A31,C,0,1
210,211,0,3,"Ali, Mr. Ahmed",male,24.00,0,0,SOTON/O.Q. 3101311,7.0500,NaN,S,0,1
211,212,1,2,"Cameron, Miss. Clear Annie",female,35.00,0,0,F.C.C. 13528,21.0000,NaN,S,0,1
212,213,0,3,"Perkin, Mr. John Henry",male,22.00,0,0,A/5 21174,7.2500,NaN,S,0,1
213,214,0,2,"Givard, Mr. Hans Kristensen",male,30.00,0,0,250646,13.0000,NaN,S,0,1
214,215,0,3,"Kiernan, Mr. Philip",male,NaN,1,0,367229,7.7500,NaN,Q,0,2
215,216,1,1,"Newell, Miss. Madeleine",female,31.00,1,0,35273,113.2750,D36,C,0,2
216,217,1,3,"Honkanen, Miss. Eliina",female,27.00,0,0,STON/O2. 3101283,7.9250,NaN,S,0,1
217,218,0,2,"Jacobsohn, Mr. Sidney Samuel",male,42.00,1,0,243847,27.0000,NaN,S,0,2
218,219,1,1,"Bazzani, Miss. Albina",female,32.00,0,0,11813,76.2917,D15,C,0,1
219,220,0,2,"Harris, Mr. Walter",male,30.00,0,0,W/C 14208,10.5000,NaN,S,0,1
220,221,1,3,"Sunderland, Mr. Victor Francis",male,16.00,0,0,SOTON/OQ 392089,8.0500,NaN,S,0,1
221,222,0,2,"Bracken, Mr. James H",male,27.00,0,0,220367,13.0000,NaN,S,0,1
222,223,0,3,"Green, Mr. George Henry",male,51.00,0,0,21440,8.0500,NaN,S,0,1
223,224,0,3,"Nenkoff, Mr. Christo",male,NaN,0,0,349234,7.8958,NaN,S,0,1
224,225,1,1,"Hoyt, Mr. Frederick Maxfield",male,38.00,1,0,19943,90.0000,C93,S,0,2
225,226,0,3,"Berglund, Mr. Karl Ivar Sven",male,22.00,0,0,PP 4348,9.3500,NaN,S,0,1
226,227,1,2,"Mellors, Mr. William John",male,19.00,0,0,SW/PP 751,10.5000,NaN,S,0,1
227,228,0,3,"Lovell, Mr. John Hall (""Henry"")",male,20.50,0,0,A/5 21173,7.2500,NaN,S,0,1
228,229,0,2,"Fahlstrom, Mr. Arne Jonas",male,18.00,0,0,236171,13.0000,NaN,S,0,1
229,230,0,3,"Lefebre, Miss. Mathilde",female,NaN,3,1,4133,25.4667,NaN,S,0,5
230,231,1,1,"Harris, Mrs. Henry Birkhardt (Irene Wallach)",female,35.00,1,0,36973,83.4750,C83,S,0,2
231,232,0,3,"Larsson, Mr. Bengt Edvin",male,29.00,0,0,347067,7.7750,NaN,S,0,1
232,233,0,2,"Sjostedt, Mr. Ernst Adolf",male,59.00,0,0,237442,13.5000,NaN,S,0,1
233,234,1,3,"Asplund, Miss. Lillian Gertrud",female,5.00,4,2,347077,31.3875,NaN,S,0,7
234,235,0,2,"Leyson, Mr. Robert William Norman",male,24.00,0,0,C.A. 29566,10.5000,NaN,S,0,1
235,236,0,3,"Harknett, Miss. Alice Phoebe",female,NaN,0,0,W./C. 6609,7.5500,NaN,S,0,1
236,237,0,2,"Hold, Mr. Stephen",male,44.00,1,0,26707,26.0000,NaN,S,0,2
237,238,1,2,"Collyer, Miss. Marjorie ""Lottie""",female,8.00,0,2,C.A. 31921,26.2500,NaN,S,0,3
238,239,0,2,"Pengelly, Mr. Frederick William",male,19.00,0,0,28665,10.5000,NaN,S,0,1
239,240,0,2,"Hunt, Mr. George Henry",male,33.00,0,0,SCO/W 1585,12.2750,NaN,S,0,1
240,241,0,3,"Zabour, Miss. Thamine",female,NaN,1,0,2665,14.4542,NaN,C,0,2
241,242,1,3,"Murphy, Miss. Katherine ""Kate""",female,NaN,1,0,367230,15.5000,NaN,Q,0,2

In [28]:
titanic_df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Age_0,Age_by_10,Family_No
0,1,0,3,"Braund, Mr. Owen Harris",male,22.00,1,0,A/5 21171,7.2500,NaN,S,0,320.0,2
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38.00,1,0,PC 17599,71.2833,C85,C,0,480.0,2
2,3,1,3,"Heikkinen, Miss. Laina",female,26.00,0,0,STON/O2. 3101282,7.9250,NaN,S,0,360.0,1
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.00,1,0,113803,53.1000,C123,S,0,450.0,2
4,5,0,3,"Allen, Mr. William Henry",male,35.00,0,0,373450,8.0500,NaN,S,0,450.0,1
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q,0,NaN,1
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.00,0,0,17463,51.8625,E46,S,0,640.0,1
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.00,3,1,349909,21.0750,NaN,S,0,120.0,5
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.00,0,2,347742,11.1333,NaN,S,0,370.0,3
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.00,1,0,237736,30.0708,NaN,C,0,240.0,2
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.00,1,1,PP 9549,16.7000,G6,S,0,140.0,3
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.00,0,0,113783,26.5500,C103,S,0,680.0,1
12,13,0,3,"Saundercock, Mr. William Henry",male,20.00,0,0,A/5. 2151,8.0500,NaN,S,0,300.0,1
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.00,1,5,347082,31.2750,NaN,S,0,490.0,7
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.00,0,0,350406,7.8542,NaN,S,0,240.0,1
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.00,0,0,248706,16.0000,NaN,S,0,650.0,1
16,17,0,3,"Rice, Master. Eugene",male,2.00,4,1,382652,29.1250,NaN,Q,0,120.0,6
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S,0,NaN,1
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)",female,31.00,1,0,345763,18.0000,NaN,S,0,410.0,2
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C,0,NaN,1
20,21,0,2,"Fynney, Mr. Joseph J",male,35.00,0,0,239865,26.0000,NaN,S,0,450.0,1
21,22,1,2,"Beesley, Mr. Lawrence",male,34.00,0,0,248698,13.0000,D56,S,0,440.0,1
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.00,0,0,330923,8.0292,NaN,Q,0,250.0,1
23,24,1,1,"Sloper, Mr. William Thompson",male,28.00,0,0,113788,35.5000,A6,S,0,380.0,1
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.00,3,1,349909,21.0750,NaN,S,0,180.0,5
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson)",female,38.00,1,5,347077,31.3875,NaN,S,0,480.0,7
26,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C,0,NaN,1
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.00,3,2,19950,263.0000,C23 C25 C27,S,0,290.0,6
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q,0,NaN,1
29,30,0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S,0,NaN,1
30,31,0,1,"Uruchurtu, Don. Manuel E",male,40.00,0,0,PC 17601,27.7208,NaN,C,0,500.0,1
31,32,1,1,"Spencer, Mrs. William Augustus (Marie Eugenie)",female,NaN,1,0,PC 17569,146.5208,B78,C,0,NaN,2
32,33,1,3,"Glynn, Miss. Mary Agatha",female,NaN,0,0,335677,7.7500,NaN,Q,0,NaN,1
33,34,0,2,"Wheadon, Mr. Edward H",male,66.00,0,0,C.A. 24579,10.5000,NaN,S,0,760.0,1
34,35,0,1,"Meyer, Mr. Edgar Joseph",male,28.00,1,0,PC 17604,82.1708,NaN,C,0,380.0,2
35,36,0,1,"Holverson, Mr. Alexander Oskar",male,42.00,1,0,113789,52.0000,NaN,S,0,520.0,2
36,37,1,3,"Mamee, Mr. Hanna",male,NaN,0,0,2677,7.2292,NaN,C,0,NaN,1
37,38,0,3,"Cann, Mr. Ernest Charles",male,21.00,0,0,A./5. 2152,8.0500,NaN,S,0,310.0,1
38,39,0,3,"Vander Planke, Miss. Augusta Maria",female,18.00,2,0,345764,18.0000,NaN,S,0,280.0,3
39,40,1,3,"Nicola-Yarred, Miss. Jamila",female,14.00,1,0,2651,11.2417,NaN,C,0,240.0,2
40,41,0,3,"Ahlin, Mrs. Johan (Johanna Persdotter Larsson)",female,40.00,1,0,7546,9.4750,NaN,S,0,500.0,2
41,42,0,2,"Turpin, Mrs. William John Robert (Dorothy Ann Wonnacott)",female,27.00,1,0,11668,21.0000,NaN,S,0,370.0,2
42,43,0,3,"Kraeff, Mr. Theodor",male,NaN,0,0,349253,7.8958,NaN,C,0,NaN,1
43,44,1,2,"Laroche, Miss. Simonne Marie Anne Andree",female,3.00,1,2,SC/Paris 2123,41.5792,NaN,C,0,130.0,4
44,45,1,3,"Devaney, Miss. Margaret Delia",female,19.00,0,0,330958,7.8792,NaN,Q,0,290.0,1
45,46,0,3,"Rogers, Mr. William John",male,NaN,0,0,S.C./A.4. 23567,8.0500,NaN,S,0,NaN,1
46,47,0,3,"Lennon, Mr. Denis",male,NaN,1,0,370371,15.5000,NaN,Q,0,NaN,2
47,48,1,3,"O'Driscoll, Miss. Bridget",female,NaN,0,0,14311,7.7500,NaN,Q,0,NaN,1
48,49,0,3,"Samaan, Mr. Youssef",male,NaN,2,0,2662,21.6792,NaN,C,0,NaN,3
49,50,0,3,"Arnold-Franchi, Mrs. Josef (Josefine Franchi)",female,18.00,1,0,349237,17.8000,NaN,S,0,280.0,2
50,51,0,3,"Panula, Master. Juha Niilo",male,7.00,4,1,3101295,39.6875,NaN,S,0,170.0,6
51,52,0,3,"Nosworthy, Mr. Richard Cater",male,21.00,0,0,A/4. 39886,7.8000,NaN,S,0,310.0,1
52,53,1,1,"Harper, Mrs. Henry Sleeper (Myna Haxtun)",female,49.00,1,0,PC 17572,76.7292,D33,C,0,590.0,2
53,54,1,2,"Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkinson)",female,29.00,1,0,2926,26.0000,NaN,S,0,390.0,2
54,55,0,1,"Ostby, Mr. Engelhart Cornelius",male,65.00,0,1,113509,61.9792,B30,C,0,750.0,2
55,56,1,1,"Woolner, Mr. Hugh",male,NaN,0,0,19947,35.5000,C52,S,0,NaN,1
56,57,1,2,"Rugg, Miss. Emily",female,21.00,0,0,C.A. 31026,10.5000,NaN,S,0,310.0,1
57,58,0,3,"Novel, Mr. Mansouer",male,28.50,0,0,2697,7.2292,NaN,C,0,385.0,1
58,59,1,2,"West, Miss. Constance Mirium",female,5.00,1,2,C.A. 34651,27.7500,NaN,S,0,150.0,4
59,60,0,3,"Goodwin, Master. William Frederick",male,11.00,5,2,CA 2144,46.9000,NaN,S,0,210.0,8
60,61,0,3,"Sirayanian, Mr. Orsen",male,22.00,0,0,2669,7.2292,NaN,C,0,320.0,1
61,62,1,1,"Icard, Miss. Amelie",female,38.00,0,0,113572,80.0000,B28,NaN,0,480.0,1
62,63,0,1,"Harris, Mr. Henry Birkhardt",male,45.00,1,0,36973,83.4750,C83,S,0,550.0,2
63,64,0,3,"Skoog, Master. Harald",male,4.00,3,2,347088,27.9000,NaN,S,0,140.0,6
64,65,0,1,"Stewart, Mr. Albert A",male,NaN,0,0,PC 17605,27.7208,NaN,C,0,NaN,1
65,66,1,3,"Moubarek, Master. Gerios",male,NaN,1,1,2661,15.2458,NaN,C,0,NaN,3
66,67,1,2,"Nye, Mrs. (Elizabeth Ramell)",female,29.00,0,0,C.A. 29395,10.5000,F33,S,0,390.0,1
67,68,0,3,"Crease, Mr. Ernest James",male,19.00,0,0,S.P. 3464,8.1583,NaN,S,0,290.0,1
68,69,1,3,"Andersson, Miss. Erna Alexandra",female,17.00,4,2,3101281,7.9250,NaN,S,0,270.0,7
69,70,0,3,"Kink, Mr. Vincenz",male,26.00,2,0,315151,8.6625,NaN,S,0,360.0,3
70,71,0,2,"Jenkin, Mr. Stephen Curnow",male,32.00,0,0,C.A. 33111,10.5000,NaN,S,0,420.0,1
71,72,0,3,"Goodwin, Miss. Lillian Amy",female,16.00,5,2,CA 2144,46.9000,NaN,S,0,260.0,8
72,73,0,2,"Hood, Mr. Ambrose Jr",male,21.00,0,0,S.O.C. 14879,73.5000,NaN,S,0,310.0,1
73,74,0,3,"Chronopoulos, Mr. Apostolos",male,26.00,1,0,2680,14.4542,NaN,C,0,360.0,2
74,75,1,3,"Bing, Mr. Lee",male,32.00,0,0,1601,56.4958,NaN,S,0,420.0,1
75,76,0,3,"Moen, Mr. Sigurd Hansen",male,25.00,0,0,348123,7.6500,F G73,S,0,350.0,1
76,77,0,3,"Staneff, Mr. Ivan",male,NaN,0,0,349208,7.8958,NaN,S,0,NaN,1
77,78,0,3,"Moutal, Mr. Rahamin Haim",male,NaN,0,0,374746,8.0500,NaN,S,0,NaN,1
78,79,1,2,"Caldwell, Master. Alden Gates",male,0.83,0,2,248738,29.0000,NaN,S,0,108.3,3
79,80,1,3,"Dowdell, Miss. Elizabeth",female,30.00,0,0,364516,12.4750,NaN,S,0,400.0,1
80,81,0,3,"Waelens, Mr. Achille",male,22.00,0,0,345767,9.0000,NaN,S,0,320.0,1
81,82,1,3,"Sheerlinck, Mr. Jan Baptist",male,29.00,0,0,345779,9.5000,NaN,S,0,390.0,1
82,83,1,3,"McDermott, Miss. Brigdet Delia",female,NaN,0,0,330932,7.7875,NaN,Q,0,NaN,1
83,84,0,1,"Carrau, Mr. Francisco M",male,28.00,0,0,113059,47.1000,NaN,S,0,380.0,1
84,85,1,2,"Ilett, Miss. Bertha",female,17.00,0,0,SO/C 14885,10.5000,NaN,S,0,270.0,1
85,86,1,3,"Backstrom, Mrs. Karl Alfred (Maria Mathilda Gustafsson)",female,33.00,3,0,3101278,15.8500,NaN,S,0,430.0,4
86,87,0,3,"Ford, Mr. William Neal",male,16.00,1,3,W./C. 6608,34.3750,NaN,S,0,260.0,5
87,88,0,3,"Slocovski, Mr. Selman Francis",male,NaN,0,0,SOTON/OQ 392086,8.0500,NaN,S,0,NaN,1
88,89,1,1,"Fortune, Miss. Mabel Helen",female,23.00,3,2,19950,263.0000,C23 C25 C27,S,0,330.0,6
89,90,0,3,"Celotti, Mr. Francesco",male,24.00,0,0,343275,8.0500,NaN,S,0,340.0,1
90,91,0,3,"Christmann, Mr. Emil",male,29.00,0,0,343276,8.0500,NaN,S,0,390.0,1
91,92,0,3,"Andreasson, Mr. Paul Edvin",male,20.00,0,0,347466,7.8542,NaN,S,0,300.0,1
92,93,0,1,"Chaffee, Mr. Herbert Fuller",male,46.00,1,0,W.E.P. 5734,61.1750,E31,S,0,560.0,2
93,94,0,3,"Dean, Mr. Bertram Frank",male,26.00,1,2,C.A. 2315,20.5750,NaN,S,0,360.0,4
94,95,0,3,"Coxon, Mr. Daniel",male,59.00,0,0,364500,7.2500,NaN,S,0,690.0,1
95,96,0,3,"Shorney, Mr. Charles Joseph",male,NaN,0,0,374910,8.0500,NaN,S,0,NaN,1
96,97,0,1,"Goldschmidt, Mr. George B",male,71.00,0,0,PC 17754,34.6542,A5,C,0,810.0,1
97,98,1,1,"Greenfield, Mr. William Bertram",male,23.00,0,1,PC 17759,63.3583,D10 D12,C,0,330.0,2
98,99,1,2,"Doling, Mrs. John T (Ada Julia Bone)",female,34.00,0,1,231919,23.0000,NaN,S,0,440.0,2
99,100,0,2,"Kantor, Mr. Sinai",male,34.00,1,0,244367,26.0000,NaN,S,0,440.0,2
100,101,0,3,"Petranec, Miss. Matilda",female,28.00,0,0,349245,7.8958,NaN,S,0,380.0,1
101,102,0,3,"Petroff, Mr. Pastcho (""Pentcho"")",male,NaN,0,0,349215,7.8958,NaN,S,0,NaN,1
102,103,0,1,"White, Mr. Richard Frasar",male,21.00,0,1,35281,77.2875,D26,S,0,310.0,2
103,104,0,3,"Johansson, Mr. Gustaf Joel",male,33.00,0,0,7540,8.6542,NaN,S,0,430.0,1
104,105,0,3,"Gustafsson, Mr. Anders Vilhelm",male,37.00,2,0,3101276,7.9250,NaN,S,0,470.0,3
105,106,0,3,"Mionoff, Mr. Stoytcho",male,28.00,0,0,349207,7.8958,NaN,S,0,380.0,1
106,107,1,3,"Salkjelsvik, Miss. Anna Kristine",female,21.00,0,0,343120,7.6500,NaN,S,0,310.0,1
107,108,1,3,"Moss, Mr. Albert Johan",male,NaN,0,0,312991,7.7750,NaN,S,0,NaN,1
108,109,0,3,"Rekic, Mr. Tido",male,38.00,0,0,349249,7.8958,NaN,S,0,480.0,1
109,110,1,3,"Moran, Miss. Bertha",female,NaN,1,0,371110,24.1500,NaN,Q,0,NaN,2
110,111,0,1,"Porter, Mr. Walter Chamberlain",male,47.00,0,0,110465,52.0000,C110,S,0,570.0,1
111,112,0,3,"Zabour, Miss. Hileni",female,14.50,1,0,2665,14.4542,NaN,C,0,245.0,2
112,113,0,3,"Barton, Mr. David John",male,22.00,0,0,324669,8.0500,NaN,S,0,320.0,1
113,114,0,3,"Jussila, Miss. Katriina",female,20.00,1,0,4136,9.8250,NaN,S,0,300.0,2
114,115,0,3,"Attalah, Miss. Malake",female,17.00,0,0,2627,14.4583,NaN,C,0,270.0,1
115,116,0,3,"Pekoniemi, Mr. Edvard",male,21.00,0,0,STON/O 2. 3101294,7.9250,NaN,S,0,310.0,1
116,117,0,3,"Connors, Mr. Patrick",male,70.50,0,0,370369,7.7500,NaN,Q,0,805.0,1
117,118,0,2,"Turpin, Mr. William John Robert",male,29.00,1,0,11668,21.0000,NaN,S,0,390.0,2
118,119,0,1,"Baxter, Mr. Quigg Edmond",male,24.00,0,1,PC 17558,247.5208,B58 B60,C,0,340.0,2
119,120,0,3,"Andersson, Miss. Ellis Anna Maria",female,2.00,4,2,347082,31.2750,NaN,S,0,120.0,7
120,121,0,2,"Hickman, Mr. Stanley George",male,21.00,2,0,S.O.C. 14879,73.5000,NaN,S,0,310.0,3
121,122,0,3,"Moore, Mr. Leonard Charles",male,NaN,0,0,A4. 54510,8.0500,NaN,S,0,NaN,1
122,123,0,2,"Nasser, Mr. Nicholas",male,32.50,1,0,237736,30.0708,NaN,C,0,425.0,2
123,124,1,2,"Webber, Miss. Susan",female,32.50,0,0,27267,13.0000,E101,S,0,425.0,1
124,125,0,1,"White, Mr. Percival Wayland",male,54.00,0,1,35281,77.2875,D26,S,0,640.0,2
125,126,1,3,"Nicola-Yarred, Master. Elias",male,12.00,1,0,2651,11.2417,NaN,C,0,220.0,2
126,127,0,3,"McMahon, Mr. Martin",male,NaN,0,0,370372,7.7500,NaN,Q,0,NaN,1
127,128,1,3,"Madsen, Mr. Fridtjof Arne",male,24.00,0,0,C 17369,7.1417,NaN,S,0,340.0,1
128,129,1,3,"Peter, Miss. Anna",female,NaN,1,1,2668,22.3583,F E69,C,0,NaN,3
129,130,0,3,"Ekstrom, Mr. Johan",male,45.00,0,0,347061,6.9750,NaN,S,0,550.0,1
130,131,0,3,"Drazenoic, Mr. Jozef",male,33.00,0,0,349241,7.8958,NaN,C,0,430.0,1
131,132,0,3,"Coelho, Mr. Domingos Fernandeo",male,20.00,0,0,SOTON/O.Q. 3101307,7.0500,NaN,S,0,300.0,1
132,133,0,3,"Robins, Mrs. Alexander A (Grace Charity Laury)",female,47.00,1,0,A/5. 3337,14.5000,NaN,S,0,570.0,2
133,134,1,2,"Weisz, Mrs. Leopold (Mathilde Francoise Pede)",female,29.00,1,0,228414,26.0000,NaN,S,0,390.0,2
134,135,0,2,"Sobey, Mr. Samuel James Hayden",male,25.00,0,0,C.A. 29178,13.0000,NaN,S,0,350.0,1
135,136,0,2,"Richard, Mr. Emile",male,23.00,0,0,SC/PARIS 2133,15.0458,NaN,C,0,330.0,1
136,137,1,1,"Newsom, Miss. Helen Monypeny",female,19.00,0,2,11752,26.2833,D47,S,0,290.0,3
137,138,0,1,"Futrelle, Mr. Jacques Heath",male,37.00,1,0,113803,53.1000,C123,S,0,470.0,2
138,139,0,3,"Osen, Mr. Olaf Elon",male,16.00,0,0,7534,9.2167,NaN,S,0,260.0,1
139,140,0,1,"Giglio, Mr. Victor",male,24.00,0,0,PC 17593,79.2000,B86,C,0,340.0,1
140,141,0,3,"Boulos, Mrs. Joseph (Sultana)",female,NaN,0,2,2678,15.2458,NaN,C,0,NaN,3
141,142,1,3,"Nysten, Miss. Anna Sofia",female,22.00,0,0,347081,7.7500,NaN,S,0,320.0,1
142,143,1,3,"Hakkarainen, Mrs. Pekka Pietari (Elin Matilda Dolck)",female,24.00,1,0,STON/O2. 3101279,15.8500,NaN,S,0,340.0,2
143,144,0,3,"Burke, Mr. Jeremiah",male,19.00,0,0,365222,6.7500,NaN,Q,0,290.0,1
144,145,0,2,"Andrew, Mr. Edgardo Samuel",male,18.00,0,0,231945,11.5000,NaN,S,0,280.0,1
145,146,0,2,"Nicholls, Mr. Joseph Charles",male,19.00,1,1,C.A. 33112,36.7500,NaN,S,0,290.0,3
146,147,1,3,"Andersson, Mr. August Edvard (""Wennerstrom"")",male,27.00,0,0,350043,7.7958,NaN,S,0,370.0,1
147,148,0,3,"Ford, Miss. Robina Maggie ""Ruby""",female,9.00,2,2,W./C. 6608,34.3750,NaN,S,0,190.0,5
148,149,0,2,"Navratil, Mr. Michel (""Louis M Hoffman"")",male,36.50,0,2,230080,26.0000,F2,S,0,465.0,3
149,150,0,2,"Byles, Rev. Thomas Roussel Davids",male,42.00,0,0,244310,13.0000,NaN,S,0,520.0,1
150,151,0,2,"Bateman, Rev. Robert James",male,51.00,0,0,S.O.P. 1166,12.5250,NaN,S,0,610.0,1
151,152,1,1,"Pears, Mrs. Thomas (Edith Wearne)",female,22.00,1,0,113776,66.6000,C2,S,0,320.0,2
152,153,0,3,"Meo, Mr. Alfonzo",male,55.50,0,0,A.5. 11206,8.0500,NaN,S,0,655.0,1
153,154,0,3,"van Billiard, Mr. Austin Blyler",male,40.50,0,2,A/5. 851,14.5000,NaN,S,0,505.0,3
154,155,0,3,"Olsen, Mr. Ole Martin",male,NaN,0,0,Fa 265302,7.3125,NaN,S,0,NaN,1
155,156,0,1,"Williams, Mr. Charles Duane",male,51.00,0,1,PC 17597,61.3792,NaN,C,0,610.0,2
156,157,1,3,"Gilnagh, Miss. Katherine ""Katie""",female,16.00,0,0,35851,7.7333,NaN,Q,0,260.0,1
157,158,0,3,"Corn, Mr. Harry",male,30.00,0,0,SOTON/OQ 392090,8.0500,NaN,S,0,400.0,1
158,159,0,3,"Smiljanic, Mr. Mile",male,NaN,0,0,315037,8.6625,NaN,S,0,NaN,1
159,160,0,3,"Sage, Master. Thomas Henry",male,NaN,8,2,CA. 2343,69.5500,NaN,S,0,NaN,11
160,161,0,3,"Cribb, Mr. John Hatfield",male,44.00,0,1,371362,16.1000,NaN,S,0,540.0,2
161,162,1,2,"Watt, Mrs. James (Elizabeth ""Bessie"" Inglis Milne)",female,40.00,0,0,C.A. 33595,15.7500,NaN,S,0,500.0,1
162,163,0,3,"Bengtsson, Mr. John Viktor",male,26.00,0,0,347068,7.7750,NaN,S,0,360.0,1
163,164,0,3,"Calic, Mr. Jovo",male,17.00,0,0,315093,8.6625,NaN,S,0,270.0,1
164,165,0,3,"Panula, Master. Eino Viljami",male,1.00,4,1,3101295,39.6875,NaN,S,0,110.0,6
165,166,1,3,"Goldsmith, Master. Frank John William ""Frankie""",male,9.00,0,2,363291,20.5250,NaN,S,0,190.0,3
166,167,1,1,"Chibnall, Mrs. (Edith Martha Bowerman)",female,NaN,0,1,113505,55.0000,E33,S,0,NaN,2
167,168,0,3,"Skoog, Mrs. William (Anna Bernhardina Karlsson)",female,45.00,1,4,347088,27.9000,NaN,S,0,550.0,6
168,169,0,1,"Baumann, Mr. John D",male,NaN,0,0,PC 17318,25.9250,NaN,S,0,NaN,1
169,170,0,3,"Ling, Mr. Lee",male,28.00,0,0,1601,56.4958,NaN,S,0,380.0,1
170,171,0,1,"Van der hoef, Mr. Wyckoff",male,61.00,0,0,111240,33.5000,B19,S,0,710.0,1
171,172,0,3,"Rice, Master. Arthur",male,4.00,4,1,382652,29.1250,NaN,Q,0,140.0,6
172,173,1,3,"Johnson, Miss. Eleanor Ileen",female,1.00,1,1,347742,11.1333,NaN,S,0,110.0,3
173,174,0,3,"Sivola, Mr. Antti Wilhelm",male,21.00,0,0,STON/O 2. 3101280,7.9250,NaN,S,0,310.0,1
174,175,0,1,"Smith, Mr. James Clinch",male,56.00,0,0,17764,30.6958,A7,C,0,660.0,1
175,176,0,3,"Klasen, Mr. Klas Albin",male,18.00,1,1,350404,7.8542,NaN,S,0,280.0,3
176,177,0,3,"Lefebre, Master. Henry Forbes",male,NaN,3,1,4133,25.4667,NaN,S,0,NaN,5
177,178,0,1,"Isham, Miss. Ann Elizabeth",female,50.00,0,0,PC 17595,28.7125,C49,C,0,600.0,1
178,179,0,2,"Hale, Mr. Reginald",male,30.00,0,0,250653,13.0000,NaN,S,0,400.0,1
179,180,0,3,"Leonard, Mr. Lionel",male,36.00,0,0,LINE,0.0000,NaN,S,0,460.0,1
180,181,0,3,"Sage, Miss. Constance Gladys",female,NaN,8,2,CA. 2343,69.5500,NaN,S,0,NaN,11
181,182,0,2,"Pernot, Mr. Rene",male,NaN,0,0,SC/PARIS 2131,15.0500,NaN,C,0,NaN,1
182,183,0,3,"Asplund, Master. Clarence Gustaf Hugo",male,9.00,4,2,347077,31.3875,NaN,S,0,190.0,7
183,184,1,2,"Becker, Master. Richard F",male,1.00,2,1,230136,39.0000,F4,S,0,110.0,4
184,185,1,3,"Kink-Heilmann, Miss. Luise Gretchen",female,4.00,0,2,315153,22.0250,NaN,S,0,140.0,3
185,186,0,1,"Rood, Mr. Hugh Roscoe",male,NaN,0,0,113767,50.0000,A32,S,0,NaN,1
186,187,1,3,"O'Brien, Mrs. Thomas (Johanna ""Hannah"" Godfrey)",female,NaN,1,0,370365,15.5000,NaN,Q,0,NaN,2
187,188,1,1,"Romaine, Mr. Charles Hallace (""Mr C Rolmane"")",male,45.00,0,0,111428,26.5500,NaN,S,0,550.0,1
188,189,0,3,"Bourke, Mr. John",male,40.00,1,1,364849,15.5000,NaN,Q,0,500.0,3
189,190,0,3,"Turcin, Mr. Stjepan",male,36.00,0,0,349247,7.8958,NaN,S,0,460.0,1
190,191,1,2,"Pinsky, Mrs. (Rosa)",female,32.00,0,0,234604,13.0000,NaN,S,0,420.0,1
191,192,0,2,"Carbines, Mr. William",male,19.00,0,0,28424,13.0000,NaN,S,0,290.0,1
192,193,1,3,"Andersen-Jensen, Miss. Carla Christine Nielsine",female,19.00,1,0,350046,7.8542,NaN,S,0,290.0,2
193,194,1,2,"Navratil, Master. Michel M",male,3.00,1,1,230080,26.0000,F2,S,0,130.0,3
194,195,1,1,"Brown, Mrs. James Joseph (Margaret Tobin)",female,44.00,0,0,PC 17610,27.7208,B4,C,0,540.0,1
195,196,1,1,"Lurette, Miss. Elise",female,58.00,0,0,PC 17569,146.5208,B80,C,0,680.0,1
196,197,0,3,"Mernagh, Mr. Robert",male,NaN,0,0,368703,7.7500,NaN,Q,0,NaN,1
197,198,0,3,"Olsen, Mr. Karl Siegwart Andreas",male,42.00,0,1,4579,8.4042,NaN,S,0,520.0,2
198,199,1,3,"Madigan, Miss. Margaret ""Maggie""",female,NaN,0,0,370370,7.7500,NaN,Q,0,NaN,1
199,200,0,2,"Yrois, Miss. Henriette (""Mrs Harbeck"")",female,24.00,0,0,248747,13.0000,NaN,S,0,340.0,1
200,201,0,3,"Vande Walle, Mr. Nestor Cyriel",male,28.00,0,0,345770,9.5000,NaN,S,0,380.0,1
201,202,0,3,"Sage, Mr. Frederick",male,NaN,8,2,CA. 2343,69.5500,NaN,S,0,NaN,11
202,203,0,3,"Johanson, Mr. Jakob Alfred",male,34.00,0,0,3101264,6.4958,NaN,S,0,440.0,1
203,204,0,3,"Youseff, Mr. Gerious",male,45.50,0,0,2628,7.2250,NaN,C,0,555.0,1
204,205,1,3,"Cohen, Mr. Gurshon ""Gus""",male,18.00,0,0,A/5 3540,8.0500,NaN,S,0,280.0,1
205,206,0,3,"Strom, Miss. Telma Matilda",female,2.00,0,1,347054,10.4625,G6,S,0,120.0,2
206,207,0,3,"Backstrom, Mr. Karl Alfred",male,32.00,1,0,3101278,15.8500,NaN,S,0,420.0,2
207,208,1,3,"Albimona, Mr. Nassef Cassem",male,26.00,0,0,2699,18.7875,NaN,C,0,360.0,1
208,209,1,3,"Carr, Miss. Helen ""Ellen""",female,16.00,0,0,367231,7.7500,NaN,Q,0,260.0,1
209,210,1,1,"Blank, Mr. Henry",male,40.00,0,0,112277,31.0000,A31,C,0,500.0,1
210,211,0,3,"Ali, Mr. Ahmed",male,24.00,0,0,SOTON/O.Q. 3101311,7.0500,NaN,S,0,340.0,1
211,212,1,2,"Cameron, Miss. Clear Annie",female,35.00,0,0,F.C.C. 13528,21.0000,NaN,S,0,450.0,1
212,213,0,3,"Perkin, Mr. John Henry",male,22.00,0,0,A/5 21174,7.2500,NaN,S,0,320.0,1
213,214,0,2,"Givard, Mr. Hans Kristensen",male,30.00,0,0,250646,13.0000,NaN,S,0,400.0,1
214,215,0,3,"Kiernan, Mr. Philip",male,NaN,1,0,367229,7.7500,NaN,Q,0,NaN,2
215,216,1,1,"Newell, Miss. Madeleine",female,31.00,1,0,35273,113.2750,D36,C,0,410.0,2
216,217,1,3,"Honkanen, Miss. Eliina",female,27.00,0,0,STON/O2. 3101283,7.9250,NaN,S,0,370.0,1
217,218,0,2,"Jacobsohn, Mr. Sidney Samuel",male,42.00,1,0,243847,27.0000,NaN,S,0,520.0,2
218,219,1,1,"Bazzani, Miss. Albina",female,32.00,0,0,11813,76.2917,D15,C,0,420.0,1
219,220,0,2,"Harris, Mr. Walter",male,30.00,0,0,W/C 14208,10.5000,NaN,S,0,400.0,1
220,221,1,3,"Sunderland, Mr. Victor Francis",male,16.00,0,0,SOTON/OQ 392089,8.0500,NaN,S,0,260.0,1
221,222,0,2,"Bracken, Mr. James H",male,27.00,0,0,220367,13.0000,NaN,S,0,370.0,1
222,223,0,3,"Green, Mr. George Henry",male,51.00,0,0,21440,8.0500,NaN,S,0,610.0,1
223,224,0,3,"Nenkoff, Mr. Christo",male,NaN,0,0,349234,7.8958,NaN,S,0,NaN,1
224,225,1,1,"Hoyt, Mr. Frederick Maxfield",male,38.00,1,0,19943,90.0000,C93,S,0,480.0,2
225,226,0,3,"Berglund, Mr. Karl Ivar Sven",male,22.00,0,0,PP 4348,9.3500,NaN,S,0,320.0,1
226,227,1,2,"Mellors, Mr. William John",male,19.00,0,0,SW/PP 751,10.5000,NaN,S,0,290.0,1

In [ ]:
# 여러개의 컬럼들의 삭제는 drop의 인자로 삭제 컬럼들을 리스트로 입력.
# inplace=True일 경우 호출을 한 DataFrame에 drop결과가 반영됩니다. 이때 반환값은 None입니다.

drop_result = titanic_df.drop(['Age_0', 'Age_by_10', 'Family_No'], axis=1, inplace=True)
print(' inplace=True 로 drop 후 반환된 값:',drop_result)
titanic_df.head(3)

In [30]:
#axis=0 일 경우 drop()은 row 방향으로 데이터를 삭제합니다.

In [31]:
pd.set_option('display.width', 1000)
pd.set_option('display.max_colwidth', 15)
print('#### before axis 0 drop ####')
print(titanic_df.head(6))

titanic_df.drop([0,1,2], axis=0, inplace=True)

print('#### after axis 0 drop ####')
print(titanic_df.head(3))

#### before axis 0 drop ####
   PassengerId  Survived  Pclass            Name     Sex   Age  SibSp  Parch          Ticket     Fare Cabin Embarked
0            1         0       3  Braund, Mr....    male  22.0      1      0       A/5 21171   7.2500   NaN        S
1            2         1       1  Cumings, Mr...  female  38.0      1      0        PC 17599  71.2833   C85        C
2            3         1       3  Heikkinen, ...  female  26.0      0      0  STON/O2. 31...   7.9250   NaN        S
3            4         1       1  Futrelle, M...  female  35.0      1      0          113803  53.1000  C123        S
4            5         0       3  Allen, Mr. ...    male  35.0      0      0          373450   8.0500   NaN        S
5            6         0       3  Moran, Mr. ...    male   NaN      0      0          330877   8.4583   NaN        Q
#### after axis 0 drop ####
   PassengerId  Survived  Pclass            Name     Sex   Age  SibSp  Parch  Ticket     Fare Cabin Embarked
3            4         1       1  Futrelle, M...  female  35.0      1      0  113803  53.1000  C123        S
4            5         0       3  Allen, Mr. ...    male  35.0      0      0  373450   8.0500   NaN        S
5            6         0       3  Moran, Mr. ...    male   NaN      0      0  330877   8.4583   NaN        Q

In [32]:
### Index 객체

In [49]:
# 원본 파일 재 로딩 
titanic_df = pd.read_csv('titanic/train.csv')
# Index 객체 추출
indexes = titanic_df.index
print(indexes)
# Index 객체를 실제 값 arrray로 변환 
print('Index 객체 array값:\n',indexes.values)

RangeIndex(start=0, stop=891, step=1)
Index 객체 array값:
 [  0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17
  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35
  36  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53
  54  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71
  72  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89
  90  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107
 108 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125
 126 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143
 144 145 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161
 162 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179
 180 181 182 183 184 185 186 187 188 189 190 191 192 193 194 195 196 197
 198 199 200 201 202 203 204 205 206 207 208 209 210 211 212 213 214 215
 216 217 218 219 220 221 222 223 224 225 226 227 228 229 230 231 232 233
 234 235 236 237 238 239 240 241 242 243 244 245 246 247 248 249 250 251
 252 253 254 255 256 257 258 259 260 261 262 263 264 265 266 267 268 269
 270 271 272 273 274 275 276 277 278 279 280 281 282 283 284 285 286 287
 288 289 290 291 292 293 294 295 296 297 298 299 300 301 302 303 304 305
 306 307 308 309 310 311 312 313 314 315 316 317 318 319 320 321 322 323
 324 325 326 327 328 329 330 331 332 333 334 335 336 337 338 339 340 341
 342 343 344 345 346 347 348 349 350 351 352 353 354 355 356 357 358 359
 360 361 362 363 364 365 366 367 368 369 370 371 372 373 374 375 376 377
 378 379 380 381 382 383 384 385 386 387 388 389 390 391 392 393 394 395
 396 397 398 399 400 401 402 403 404 405 406 407 408 409 410 411 412 413
 414 415 416 417 418 419 420 421 422 423 424 425 426 427 428 429 430 431
 432 433 434 435 436 437 438 439 440 441 442 443 444 445 446 447 448 449
 450 451 452 453 454 455 456 457 458 459 460 461 462 463 464 465 466 467
 468 469 470 471 472 473 474 475 476 477 478 479 480 481 482 483 484 485
 486 487 488 489 490 491 492 493 494 495 496 497 498 499 500 501 502 503
 504 505 506 507 508 509 510 511 512 513 514 515 516 517 518 519 520 521
 522 523 524 525 526 527 528 529 530 531 532 533 534 535 536 537 538 539
 540 541 542 543 544 545 546 547 548 549 550 551 552 553 554 555 556 557
 558 559 560 561 562 563 564 565 566 567 568 569 570 571 572 573 574 575
 576 577 578 579 580 581 582 583 584 585 586 587 588 589 590 591 592 593
 594 595 596 597 598 599 600 601 602 603 604 605 606 607 608 609 610 611
 612 613 614 615 616 617 618 619 620 621 622 623 624 625 626 627 628 629
 630 631 632 633 634 635 636 637 638 639 640 641 642 643 644 645 646 647
 648 649 650 651 652 653 654 655 656 657 658 659 660 661 662 663 664 665
 666 667 668 669 670 671 672 673 674 675 676 677 678 679 680 681 682 683
 684 685 686 687 688 689 690 691 692 693 694 695 696 697 698 699 700 701
 702 703 704 705 706 707 708 709 710 711 712 713 714 715 716 717 718 719
 720 721 722 723 724 725 726 727 728 729 730 731 732 733 734 735 736 737
 738 739 740 741 742 743 744 745 746 747 748 749 750 751 752 753 754 755
 756 757 758 759 760 761 762 763 764 765 766 767 768 769 770 771 772 773
 774 775 776 777 778 779 780 781 782 783 784 785 786 787 788 789 790 791
 792 793 794 795 796 797 798 799 800 801 802 803 804 805 806 807 808 809
 810 811 812 813 814 815 816 817 818 819 820 821 822 823 824 825 826 827
 828 829 830 831 832 833 834 835 836 837 838 839 840 841 842 843 844 845
 846 847 848 849 850 851 852 853 854 855 856 857 858 859 860 861 862 863
 864 865 866 867 868 869 870 871 872 873 874 875 876 877 878 879 880 881
 882 883 884 885 886 887 888 889 890]

In [50]:
print(type(indexes.values))
print(indexes.values.shape)
print(indexes[:5].values)
print(indexes.values[:5])
print(indexes[6])
# indexes[1]=9
# ypeError                                 Traceback (most recent call last)
# ~\AppData\Local\Temp\ipykernel_9480\2673679752.py in <module>
#       4 print(indexes.values[:5])
#       5 print(indexes[6])
# ----> 6 indexes[1]=9

# ~\.conda\envs\data_env\lib\site-packages\pandas\core\indexes\base.py in __setitem__(self, key, value)
#    4583     @final
#    4584     def __setitem__(self, key, value):
# -> 4585         raise TypeError("Index does not support mutable operations")
#    4586 
#    4587     def __getitem__(self, key):

# TypeError: Index does not support mutable operations

<class 'numpy.ndarray'>
(891,)
[0 1 2 3 4]
[0 1 2 3 4]
6

In [39]:
series_fair = titanic_df['Fare']
series_fair

0        7.2500
1       71.2833
2        7.9250
3       53.1000
4        8.0500
5        8.4583
6       51.8625
7       21.0750
8       11.1333
9       30.0708
10      16.7000
11      26.5500
12       8.0500
13      31.2750
14       7.8542
15      16.0000
16      29.1250
17      13.0000
18      18.0000
19       7.2250
20      26.0000
21      13.0000
22       8.0292
23      35.5000
24      21.0750
25      31.3875
26       7.2250
27     263.0000
28       7.8792
29       7.8958
30      27.7208
31     146.5208
32       7.7500
33      10.5000
34      82.1708
35      52.0000
36       7.2292
37       8.0500
38      18.0000
39      11.2417
40       9.4750
41      21.0000
42       7.8958
43      41.5792
44       7.8792
45       8.0500
46      15.5000
47       7.7500
48      21.6792
49      17.8000
50      39.6875
51       7.8000
52      76.7292
53      26.0000
54      61.9792
55      35.5000
56      10.5000
57       7.2292
58      27.7500
59      46.9000
60       7.2292
61      80.0000
62      83.4750
63      27.9000
64      27.7208
65      15.2458
66      10.5000
67       8.1583
68       7.9250
69       8.6625
70      10.5000
71      46.9000
72      73.5000
73      14.4542
74      56.4958
75       7.6500
76       7.8958
77       8.0500
78      29.0000
79      12.4750
80       9.0000
81       9.5000
82       7.7875
83      47.1000
84      10.5000
85      15.8500
86      34.3750
87       8.0500
88     263.0000
89       8.0500
90       8.0500
91       7.8542
92      61.1750
93      20.5750
94       7.2500
95       8.0500
96      34.6542
97      63.3583
98      23.0000
99      26.0000
100      7.8958
101      7.8958
102     77.2875
103      8.6542
104      7.9250
105      7.8958
106      7.6500
107      7.7750
108      7.8958
109     24.1500
110     52.0000
111     14.4542
112      8.0500
113      9.8250
114     14.4583
115      7.9250
116      7.7500
117     21.0000
118    247.5208
119     31.2750
120     73.5000
121      8.0500
122     30.0708
123     13.0000
124     77.2875
125     11.2417
126      7.7500
127      7.1417
128     22.3583
129      6.9750
130      7.8958
131      7.0500
132     14.5000
133     26.0000
134     13.0000
135     15.0458
136     26.2833
137     53.1000
138      9.2167
139     79.2000
140     15.2458
141      7.7500
142     15.8500
143      6.7500
144     11.5000
145     36.7500
146      7.7958
147     34.3750
148     26.0000
149     13.0000
150     12.5250
151     66.6000
152      8.0500
153     14.5000
154      7.3125
155     61.3792
156      7.7333
157      8.0500
158      8.6625
159     69.5500
160     16.1000
161     15.7500
162      7.7750
163      8.6625
164     39.6875
165     20.5250
166     55.0000
167     27.9000
168     25.9250
169     56.4958
170     33.5000
171     29.1250
172     11.1333
173      7.9250
174     30.6958
175      7.8542
176     25.4667
177     28.7125
178     13.0000
179      0.0000
180     69.5500
181     15.0500
182     31.3875
183     39.0000
184     22.0250
185     50.0000
186     15.5000
187     26.5500
188     15.5000
189      7.8958
190     13.0000
191     13.0000
192      7.8542
193     26.0000
194     27.7208
195    146.5208
196      7.7500
197      8.4042
198      7.7500
199     13.0000
200      9.5000
201     69.5500
202      6.4958
203      7.2250
204      8.0500
205     10.4625
206     15.8500
207     18.7875
208      7.7500
209     31.0000
210      7.0500
211     21.0000
212      7.2500
213     13.0000
214      7.7500
215    113.2750
216      7.9250
217     27.0000
218     76.2917
219     10.5000
220      8.0500
221     13.0000
222      8.0500
223      7.8958
224     90.0000
225      9.3500
226     10.5000
227      7.2500
228     13.0000
229     25.4667
230     83.4750
231      7.7750
232     13.5000
233     31.3875
234     10.5000
235      7.5500
236     26.0000
237     26.2500
238     10.5000
239     12.2750
240     14.4542
241     15.5000
242     10.5000
243      7.1250
244      7.2250
245     90.0000
246      7.7750
247     14.5000
248     52.5542
249     26.0000
250      7.2500
251     10.4625
252     26.5500
253     16.1000
254     20.2125
255     15.2458
256     79.2000
257     86.5000
258    512.3292
259     26.0000
260      7.7500
261     31.3875
262     79.6500
263      0.0000
264      7.7500
265     10.5000
266     39.6875
267      7.7750
268    153.4625
269    135.6333
270     31.0000
271      0.0000
272     19.5000
273     29.7000
274      7.7500
275     77.9583
276      7.7500
277      0.0000
278     29.1250
279     20.2500
280      7.7500
281      7.8542
282      9.5000
283      8.0500
284     26.0000
285      8.6625
286      9.5000
287      7.8958
288     13.0000
289      7.7500
290     78.8500
291     91.0792
292     12.8750
293      8.8500
294      7.8958
295     27.7208
296      7.2292
297    151.5500
298     30.5000
299    247.5208
300      7.7500
301     23.2500
302      0.0000
303     12.3500
304      8.0500
305    151.5500
306    110.8833
307    108.9000
308     24.0000
309     56.9292
310     83.1583
311    262.3750
312     26.0000
313      7.8958
314     26.2500
315      7.8542
316     26.0000
317     14.0000
318    164.8667
319    134.5000
320      7.2500
321      7.8958
322     12.3500
323     29.0000
324     69.5500
325    135.6333
326      6.2375
327     13.0000
328     20.5250
329     57.9792
330     23.2500
331     28.5000
332    153.4625
333     18.0000
334    133.6500
335      7.8958
336     66.6000
337    134.5000
338      8.0500
339     35.5000
340     26.0000
341    263.0000
342     13.0000
343     13.0000
344     13.0000
345     13.0000
346     13.0000
347     16.1000
348     15.9000
349      8.6625
350      9.2250
351     35.0000
352      7.2292
353     17.8000
354      7.2250
355      9.5000
356     55.0000
357     13.0000
358      7.8792
359      7.8792
360     27.9000
361     27.7208
362     14.4542
363      7.0500
364     15.5000
365      7.2500
366     75.2500
367      7.2292
368      7.7500
369     69.3000
370     55.4417
371      6.4958
372      8.0500
373    135.6333
374     21.0750
375     82.1708
376      7.2500
377    211.5000
378      4.0125
379      7.7750
380    227.5250
381     15.7417
382      7.9250
383     52.0000
384      7.8958
385     73.5000
386     46.9000
387     13.0000
388      7.7292
389     12.0000
390    120.0000
391      7.7958
392      7.9250
393    113.2750
394     16.7000
395      7.7958
396      7.8542
397     26.0000
398     10.5000
399     12.6500
400      7.9250
401      8.0500
402      9.8250
403     15.8500
404      8.6625
405     21.0000
406      7.7500
407     18.7500
408      7.7750
409     25.4667
410      7.8958
411      6.8583
412     90.0000
413      0.0000
414      7.9250
415      8.0500
416     32.5000
417     13.0000
418     13.0000
419     24.1500
420      7.8958
421      7.7333
422      7.8750
423     14.4000
424     20.2125
425      7.2500
426     26.0000
427     26.0000
428      7.7500
429      8.0500
430     26.5500
431     16.1000
432     26.0000
433      7.1250
434     55.9000
435    120.0000
436     34.3750
437     18.7500
438    263.0000
439     10.5000
440     26.2500
441      9.5000
442      7.7750
443     13.0000
444      8.1125
445     81.8583
446     19.5000
447     26.5500
448     19.2583
449     30.5000
450     27.7500
451     19.9667
452     27.7500
453     89.1042
454      8.0500
455      7.8958
456     26.5500
457     51.8625
458     10.5000
459      7.7500
460     26.5500
461      8.0500
462     38.5000
463     13.0000
464      8.0500
465      7.0500
466      0.0000
467     26.5500
468      7.7250
469     19.2583
470      7.2500
471      8.6625
472     27.7500
473     13.7917
474      9.8375
475     52.0000
476     21.0000
477      7.0458
478      7.5208
479     12.2875
480     46.9000
481      0.0000
482      8.0500
483      9.5875
484     91.0792
485     25.4667
486     90.0000
487     29.7000
488      8.0500
489     15.9000
490     19.9667
491      7.2500
492     30.5000
493     49.5042
494      8.0500
495     14.4583
496     78.2667
497     15.1000
498    151.5500
499      7.7958
500      8.6625
501      7.7500
502      7.6292
503      9.5875
504     86.5000
505    108.9000
506     26.0000
507     26.5500
508     22.5250
509     56.4958
510      7.7500
511      8.0500
512     26.2875
513     59.4000
514      7.4958
515     34.0208
516     10.5000
517     24.1500
518     26.0000
519      7.8958
520     93.5000
521      7.8958
522      7.2250
523     57.9792
524      7.2292
525      7.7500
526     10.5000
527    221.7792
528      7.9250
529     11.5000
530     26.0000
531      7.2292
532      7.2292
533     22.3583
534      8.6625
535     26.2500
536     26.5500
537    106.4250
538     14.5000
539     49.5000
540     71.0000
541     31.2750
542     31.2750
543     26.0000
544    106.4250
545     26.0000
546     26.0000
547     13.8625
548     20.5250
549     36.7500
550    110.8833
551     26.0000
552      7.8292
553      7.2250
554      7.7750
555     26.5500
556     39.6000
557    227.5250
558     79.6500
559     17.4000
560      7.7500
561      7.8958
562     13.5000
563      8.0500
564      8.0500
565     24.1500
566      7.8958
567     21.0750
568      7.2292
569      7.8542
570     10.5000
571     51.4792
572     26.3875
573      7.7500
574      8.0500
575     14.5000
576     13.0000
577     55.9000
578     14.4583
579      7.9250
580     30.0000
581    110.8833
582     26.0000
583     40.1250
584      8.7125
585     79.6500
586     15.0000
587     79.2000
588      8.0500
589      8.0500
590      7.1250
591     78.2667
592      7.2500
593      7.7500
594     26.0000
595     24.1500
596     33.0000
597      0.0000
598      7.2250
599     56.9292
600     27.0000
601      7.8958
602     42.4000
603      8.0500
604     26.5500
605     15.5500
606      7.8958
607     30.5000
608     41.5792
609    153.4625
610     31.2750
611      7.0500
612     15.5000
613      7.7500
614      8.0500
615     65.0000
616     14.4000
617     16.1000
618     39.0000
619     10.5000
620     14.4542
621     52.5542
622     15.7417
623      7.8542
624     16.1000
625     32.3208
626     12.3500
627     77.9583
628      7.8958
629      7.7333
630     30.0000
631      7.0542
632     30.5000
633      0.0000
634     27.9000
635     13.0000
636      7.9250
637     26.2500
638     39.6875
639     16.1000
640      7.8542
641     69.3000
642     27.9000
643     56.4958
644     19.2583
645     76.7292
646      7.8958
647     35.5000
648      7.5500
649      7.5500
650      7.8958
651     23.0000
652      8.4333
653      7.8292
654      6.7500
655     73.5000
656      7.8958
657     15.5000
658     13.0000
659    113.2750
660    133.6500
661      7.2250
662     25.5875
663      7.4958
664      7.9250
665     73.5000
666     13.0000
667      7.7750
668      8.0500
669     52.0000
670     39.0000
671     52.0000
672     10.5000
673     13.0000
674      0.0000
675      7.7750
676      8.0500
677      9.8417
678     46.9000
679    512.3292
680      8.1375
681     76.7292
682      9.2250
683     46.9000
684     39.0000
685     41.5792
686     39.6875
687     10.1708
688      7.7958
689    211.3375
690     57.0000
691     13.4167
692     56.4958
693      7.2250
694     26.5500
695     13.5000
696      8.0500
697      7.7333
698    110.8833
699      7.6500
700    227.5250
701     26.2875
702     14.4542
703      7.7417
704      7.8542
705     26.0000
706     13.5000
707     26.2875
708    151.5500
709     15.2458
710     49.5042
711     26.5500
712     52.0000
713      9.4833
714     13.0000
715      7.6500
716    227.5250
717     10.5000
718     15.5000
719      7.7750
720     33.0000
721      7.0542
722     13.0000
723     13.0000
724     53.1000
725      8.6625
726     21.0000
727      7.7375
728     26.0000
729      7.9250
730    211.3375
731     18.7875
732      0.0000
733     13.0000
734     13.0000
735     16.1000
736     34.3750
737    512.3292
738      7.8958
739      7.8958
740     30.0000
741     78.8500
742    262.3750
743     16.1000
744      7.9250
745     71.0000
746     20.2500
747     13.0000
748     53.1000
749      7.7500
750     23.0000
751     12.4750
752      9.5000
753      7.8958
754     65.0000
755     14.5000
756      7.7958
757     11.5000
758      8.0500
759     86.5000
760     14.5000
761      7.1250
762      7.2292
763    120.0000
764      7.7750
765     77.9583
766     39.6000
767      7.7500
768     24.1500
769      8.3625
770      9.5000
771      7.8542
772     10.5000
773      7.2250
774     23.0000
775      7.7500
776      7.7500
777     12.4750
778      7.7375
779    211.3375
780      7.2292
781     57.0000
782     30.0000
783     23.4500
784      7.0500
785      7.2500
786      7.4958
787     29.1250
788     20.5750
789     79.2000
790      7.7500
791     26.0000
792     69.5500
793     30.6958
794      7.8958
795     13.0000
796     25.9292
797      8.6833
798      7.2292
799     24.1500
800     13.0000
801     26.2500
802    120.0000
803      8.5167
804      6.9750
805      7.7750
806      0.0000
807      7.7750
808     13.0000
809     53.1000
810      7.8875
811     24.1500
812     10.5000
813     31.2750
814      8.0500
815      0.0000
816      7.9250
817     37.0042
818      6.4500
819     27.9000
820     93.5000
821      8.6625
822      0.0000
823     12.4750
824     39.6875
825      6.9500
826     56.4958
827     37.0042
828      7.7500
829     80.0000
830     14.4542
831     18.7500
832      7.2292
833      7.8542
834      8.3000
835     83.1583
836      8.6625
837      8.0500
838     56.4958
839     29.7000
840      7.9250
841     10.5000
842     31.0000
843      6.4375
844      8.6625
845      7.5500
846     69.5500
847      7.8958
848     33.0000
849     89.1042
850     31.2750
851      7.7750
852     15.2458
853     39.4000
854     26.0000
855      9.3500
856    164.8667
857     26.5500
858     19.2583
859      7.2292
860     14.1083
861     11.5000
862     25.9292
863     69.5500
864     13.0000
865     13.0000
866     13.8583
867     50.4958
868      9.5000
869     11.1333
870      7.8958
871     52.5542
872      5.0000
873      9.0000
874     24.0000
875      7.2250
876      9.8458
877      7.8958
878      7.8958
879     83.1583
880     26.0000
881      7.8958
882     10.5167
883     10.5000
884      7.0500
885     29.1250
886     13.0000
887     30.0000
888     23.4500
889     30.0000
890      7.7500
Name: Fare, dtype: float64

In [51]:
print('Fair Series max 값:', series_fair.max())
print('Fair Series sum 값:', series_fair.sum())
print('sum() Fair Series:', sum(series_fair))
print('Fair Series + 3:\n',(series_fair + 3).head(3) )

Fair Series max 값: 512.3292
Fair Series sum 값: 28693.9493
sum() Fair Series: 28693.949299999967
Fair Series + 3:
 0    10.2500
1    74.2833
2    10.9250
Name: Fare, dtype: float64

In [41]:
titanic_df.head(3)

   PassengerId  Survived  Pclass            Name     Sex   Age  SibSp  Parch          Ticket     Fare Cabin Embarked
0            1         0       3  Braund, Mr....    male  22.0      1      0       A/5 21171   7.2500   NaN        S
1            2         1       1  Cumings, Mr...  female  38.0      1      0        PC 17599  71.2833   C85        C
2            3         1       3  Heikkinen, ...  female  26.0      0      0  STON/O2. 31...   7.9250   NaN        S

In [52]:
# titanic_reset_df = titanic_df.reset_index(inplace=False)
# titanic_reset_df.head(30)
titanic_df.reset_index(inplace=True)

In [44]:
titanic_df

     PassengerId  Survived  Pclass            Name     Sex    Age  SibSp  Parch          Ticket      Fare           Cabin Embarked
0              1         0       3  Braund, Mr....    male  22.00      1      0       A/5 21171    7.2500             NaN        S
1              2         1       1  Cumings, Mr...  female  38.00      1      0        PC 17599   71.2833             C85        C
2              3         1       3  Heikkinen, ...  female  26.00      0      0  STON/O2. 31...    7.9250             NaN        S
3              4         1       1  Futrelle, M...  female  35.00      1      0          113803   53.1000            C123        S
4              5         0       3  Allen, Mr. ...    male  35.00      0      0          373450    8.0500             NaN        S
5              6         0       3  Moran, Mr. ...    male    NaN      0      0          330877    8.4583             NaN        Q
6              7         0       1  McCarthy, M...    male  54.00      0      0           17463   51.8625             E46        S
7              8         0       3  Palsson, Ma...    male   2.00      3      1          349909   21.0750             NaN        S
8              9         1       3  Johnson, Mr...  female  27.00      0      2          347742   11.1333             NaN        S
9             10         1       2  Nasser, Mrs...  female  14.00      1      0          237736   30.0708             NaN        C
10            11         1       3  Sandstrom, ...  female   4.00      1      1         PP 9549   16.7000              G6        S
11            12         1       1  Bonnell, Mi...  female  58.00      0      0          113783   26.5500            C103        S
12            13         0       3  Saundercock...    male  20.00      0      0       A/5. 2151    8.0500             NaN        S
13            14         0       3  Andersson, ...    male  39.00      1      5          347082   31.2750             NaN        S
14            15         0       3  Vestrom, Mi...  female  14.00      0      0          350406    7.8542             NaN        S
15            16         1       2  Hewlett, Mr...  female  55.00      0      0          248706   16.0000             NaN        S
16            17         0       3  Rice, Maste...    male   2.00      4      1          382652   29.1250             NaN        Q
17            18         1       2  Williams, M...    male    NaN      0      0          244373   13.0000             NaN        S
18            19         0       3  Vander Plan...  female  31.00      1      0          345763   18.0000             NaN        S
19            20         1       3  Masselmani,...  female    NaN      0      0            2649    7.2250             NaN        C
20            21         0       2  Fynney, Mr....    male  35.00      0      0          239865   26.0000             NaN        S
21            22         1       2  Beesley, Mr...    male  34.00      0      0          248698   13.0000             D56        S
22            23         1       3  McGowan, Mi...  female  15.00      0      0          330923    8.0292             NaN        Q
23            24         1       1  Sloper, Mr....    male  28.00      0      0          113788   35.5000              A6        S
24            25         0       3  Palsson, Mi...  female   8.00      3      1          349909   21.0750             NaN        S
25            26         1       3  Asplund, Mr...  female  38.00      1      5          347077   31.3875             NaN        S
26            27         0       3  Emir, Mr. F...    male    NaN      0      0            2631    7.2250             NaN        C
27            28         0       1  Fortune, Mr...    male  19.00      3      2           19950  263.0000     C23 C25 C27        S
28            29         1       3  O'Dwyer, Mi...  female    NaN      0      0          330959    7.8792             NaN        Q
29            30         0       3  Todoroff, M...    male    NaN      0      0          349216    7.8958             NaN        S
30            31         0       1  Uruchurtu, ...    male  40.00      0      0        PC 17601   27.7208             NaN        C
31            32         1       1  Spencer, Mr...  female    NaN      1      0        PC 17569  146.5208             B78        C
32            33         1       3  Glynn, Miss...  female    NaN      0      0          335677    7.7500             NaN        Q
33            34         0       2  Wheadon, Mr...    male  66.00      0      0      C.A. 24579   10.5000             NaN        S
34            35         0       1  Meyer, Mr. ...    male  28.00      1      0        PC 17604   82.1708             NaN        C
35            36         0       1  Holverson, ...    male  42.00      1      0          113789   52.0000             NaN        S
36            37         1       3  Mamee, Mr. ...    male    NaN      0      0            2677    7.2292             NaN        C
37            38         0       3  Cann, Mr. E...    male  21.00      0      0      A./5. 2152    8.0500             NaN        S
38            39         0       3  Vander Plan...  female  18.00      2      0          345764   18.0000             NaN        S
39            40         1       3  Nicola-Yarr...  female  14.00      1      0            2651   11.2417             NaN        C
40            41         0       3  Ahlin, Mrs....  female  40.00      1      0            7546    9.4750             NaN        S
41            42         0       2  Turpin, Mrs...  female  27.00      1      0           11668   21.0000             NaN        S
42            43         0       3  Kraeff, Mr....    male    NaN      0      0          349253    7.8958             NaN        C
43            44         1       2  Laroche, Mi...  female   3.00      1      2   SC/Paris 2123   41.5792             NaN        C
44            45         1       3  Devaney, Mi...  female  19.00      0      0          330958    7.8792             NaN        Q
45            46         0       3  Rogers, Mr....    male    NaN      0      0  S.C./A.4. 2...    8.0500             NaN        S
46            47         0       3  Lennon, Mr....    male    NaN      1      0          370371   15.5000             NaN        Q
47            48         1       3  O'Driscoll,...  female    NaN      0      0           14311    7.7500             NaN        Q
48            49         0       3  Samaan, Mr....    male    NaN      2      0            2662   21.6792             NaN        C
49            50         0       3  Arnold-Fran...  female  18.00      1      0          349237   17.8000             NaN        S
50            51         0       3  Panula, Mas...    male   7.00      4      1         3101295   39.6875             NaN        S
51            52         0       3  Nosworthy, ...    male  21.00      0      0      A/4. 39886    7.8000             NaN        S
52            53         1       1  Harper, Mrs...  female  49.00      1      0        PC 17572   76.7292             D33        C
53            54         1       2  Faunthorpe,...  female  29.00      1      0            2926   26.0000             NaN        S
54            55         0       1  Ostby, Mr. ...    male  65.00      0      1          113509   61.9792             B30        C
55            56         1       1  Woolner, Mr...    male    NaN      0      0           19947   35.5000             C52        S
56            57         1       2  Rugg, Miss....  female  21.00      0      0      C.A. 31026   10.5000             NaN        S
57            58         0       3  Novel, Mr. ...    male  28.50      0      0            2697    7.2292             NaN        C
58            59         1       2  West, Miss....  female   5.00      1      2      C.A. 34651   27.7500             NaN        S
59            60         0       3  Goodwin, Ma...    male  11.00      5      2         CA 2144   46.9000             NaN        S
60            61         0       3  Sirayanian,...    male  22.00      0      0            2669    7.2292             NaN        C
61            62         1       1  Icard, Miss...  female  38.00      0      0          113572   80.0000             B28      NaN
62            63         0       1  Harris, Mr....    male  45.00      1      0           36973   83.4750             C83        S
63            64         0       3  Skoog, Mast...    male   4.00      3      2          347088   27.9000             NaN        S
64            65         0       1  Stewart, Mr...    male    NaN      0      0        PC 17605   27.7208             NaN        C
65            66         1       3  Moubarek, M...    male    NaN      1      1            2661   15.2458             NaN        C
66            67         1       2  Nye, Mrs. (...  female  29.00      0      0      C.A. 29395   10.5000             F33        S
67            68         0       3  Crease, Mr....    male  19.00      0      0       S.P. 3464    8.1583             NaN        S
68            69         1       3  Andersson, ...  female  17.00      4      2         3101281    7.9250             NaN        S
69            70         0       3  Kink, Mr. V...    male  26.00      2      0          315151    8.6625             NaN        S
70            71         0       2  Jenkin, Mr....    male  32.00      0      0      C.A. 33111   10.5000             NaN        S
71            72         0       3  Goodwin, Mi...  female  16.00      5      2         CA 2144   46.9000             NaN        S
72            73         0       2  Hood, Mr. A...    male  21.00      0      0    S.O.C. 14879   73.5000             NaN        S
73            74         0       3  Chronopoulo...    male  26.00      1      0            2680   14.4542             NaN        C
74            75         1       3   Bing, Mr. Lee    male  32.00      0      0            1601   56.4958             NaN        S
75            76         0       3  Moen, Mr. S...    male  25.00      0      0          348123    7.6500           F G73        S
76            77         0       3  Staneff, Mr...    male    NaN      0      0          349208    7.8958             NaN        S
77            78         0       3  Moutal, Mr....    male    NaN      0      0          374746    8.0500             NaN        S
78            79         1       2  Caldwell, M...    male   0.83      0      2          248738   29.0000             NaN        S
79            80         1       3  Dowdell, Mi...  female  30.00      0      0          364516   12.4750             NaN        S
80            81         0       3  Waelens, Mr...    male  22.00      0      0          345767    9.0000             NaN        S
81            82         1       3  Sheerlinck,...    male  29.00      0      0          345779    9.5000             NaN        S
82            83         1       3  McDermott, ...  female    NaN      0      0          330932    7.7875             NaN        Q
83            84         0       1  Carrau, Mr....    male  28.00      0      0          113059   47.1000             NaN        S
84            85         1       2  Ilett, Miss...  female  17.00      0      0      SO/C 14885   10.5000             NaN        S
85            86         1       3  Backstrom, ...  female  33.00      3      0         3101278   15.8500             NaN        S
86            87         0       3  Ford, Mr. W...    male  16.00      1      3      W./C. 6608   34.3750             NaN        S
87            88         0       3  Slocovski, ...    male    NaN      0      0  SOTON/OQ 39...    8.0500             NaN        S
88            89         1       1  Fortune, Mi...  female  23.00      3      2           19950  263.0000     C23 C25 C27        S
89            90         0       3  Celotti, Mr...    male  24.00      0      0          343275    8.0500             NaN        S
90            91         0       3  Christmann,...    male  29.00      0      0          343276    8.0500             NaN        S
91            92         0       3  Andreasson,...    male  20.00      0      0          347466    7.8542             NaN        S
92            93         0       1  Chaffee, Mr...    male  46.00      1      0     W.E.P. 5734   61.1750             E31        S
93            94         0       3  Dean, Mr. B...    male  26.00      1      2       C.A. 2315   20.5750             NaN        S
94            95         0       3  Coxon, Mr. ...    male  59.00      0      0          364500    7.2500             NaN        S
95            96         0       3  Shorney, Mr...    male    NaN      0      0          374910    8.0500             NaN        S
96            97         0       1  Goldschmidt...    male  71.00      0      0        PC 17754   34.6542              A5        C
97            98         1       1  Greenfield,...    male  23.00      0      1        PC 17759   63.3583         D10 D12        C
98            99         1       2  Doling, Mrs...  female  34.00      0      1          231919   23.0000             NaN        S
99           100         0       2  Kantor, Mr....    male  34.00      1      0          244367   26.0000             NaN        S
100          101         0       3  Petranec, M...  female  28.00      0      0          349245    7.8958             NaN        S
101          102         0       3  Petroff, Mr...    male    NaN      0      0          349215    7.8958             NaN        S
102          103         0       1  White, Mr. ...    male  21.00      0      1           35281   77.2875             D26        S
103          104         0       3  Johansson, ...    male  33.00      0      0            7540    8.6542             NaN        S
104          105         0       3  Gustafsson,...    male  37.00      2      0         3101276    7.9250             NaN        S
105          106         0       3  Mionoff, Mr...    male  28.00      0      0          349207    7.8958             NaN        S
106          107         1       3  Salkjelsvik...  female  21.00      0      0          343120    7.6500             NaN        S
107          108         1       3  Moss, Mr. A...    male    NaN      0      0          312991    7.7750             NaN        S
108          109         0       3  Rekic, Mr. ...    male  38.00      0      0          349249    7.8958             NaN        S
109          110         1       3  Moran, Miss...  female    NaN      1      0          371110   24.1500             NaN        Q
110          111         0       1  Porter, Mr....    male  47.00      0      0          110465   52.0000            C110        S
111          112         0       3  Zabour, Mis...  female  14.50      1      0            2665   14.4542             NaN        C
112          113         0       3  Barton, Mr....    male  22.00      0      0          324669    8.0500             NaN        S
113          114         0       3  Jussila, Mi...  female  20.00      1      0            4136    9.8250             NaN        S
114          115         0       3  Attalah, Mi...  female  17.00      0      0            2627   14.4583             NaN        C
115          116         0       3  Pekoniemi, ...    male  21.00      0      0  STON/O 2. 3...    7.9250             NaN        S
116          117         0       3  Connors, Mr...    male  70.50      0      0          370369    7.7500             NaN        Q
117          118         0       2  Turpin, Mr....    male  29.00      1      0           11668   21.0000             NaN        S
118          119         0       1  Baxter, Mr....    male  24.00      0      1        PC 17558  247.5208         B58 B60        C
119          120         0       3  Andersson, ...  female   2.00      4      2          347082   31.2750             NaN        S
120          121         0       2  Hickman, Mr...    male  21.00      2      0    S.O.C. 14879   73.5000             NaN        S
121          122         0       3  Moore, Mr. ...    male    NaN      0      0       A4. 54510    8.0500             NaN        S
122          123         0       2  Nasser, Mr....    male  32.50      1      0          237736   30.0708             NaN        C
123          124         1       2  Webber, Mis...  female  32.50      0      0           27267   13.0000            E101        S
124          125         0       1  White, Mr. ...    male  54.00      0      1           35281   77.2875             D26        S
125          126         1       3  Nicola-Yarr...    male  12.00      1      0            2651   11.2417             NaN        C
126          127         0       3  McMahon, Mr...    male    NaN      0      0          370372    7.7500             NaN        Q
127          128         1       3  Madsen, Mr....    male  24.00      0      0         C 17369    7.1417             NaN        S
128          129         1       3  Peter, Miss...  female    NaN      1      1            2668   22.3583           F E69        C
129          130         0       3  Ekstrom, Mr...    male  45.00      0      0          347061    6.9750             NaN        S
130          131         0       3  Drazenoic, ...    male  33.00      0      0          349241    7.8958             NaN        C
131          132         0       3  Coelho, Mr....    male  20.00      0      0  SOTON/O.Q. ...    7.0500             NaN        S
132          133         0       3  Robins, Mrs...  female  47.00      1      0       A/5. 3337   14.5000             NaN        S
133          134         1       2  Weisz, Mrs....  female  29.00      1      0          228414   26.0000             NaN        S
134          135         0       2  Sobey, Mr. ...    male  25.00      0      0      C.A. 29178   13.0000             NaN        S
135          136         0       2  Richard, Mr...    male  23.00      0      0   SC/PARIS 2133   15.0458             NaN        C
136          137         1       1  Newsom, Mis...  female  19.00      0      2           11752   26.2833             D47        S
137          138         0       1  Futrelle, M...    male  37.00      1      0          113803   53.1000            C123        S
138          139         0       3  Osen, Mr. O...    male  16.00      0      0            7534    9.2167             NaN        S
139          140         0       1  Giglio, Mr....    male  24.00      0      0        PC 17593   79.2000             B86        C
140          141         0       3  Boulos, Mrs...  female    NaN      0      2            2678   15.2458             NaN        C
141          142         1       3  Nysten, Mis...  female  22.00      0      0          347081    7.7500             NaN        S
142          143         1       3  Hakkarainen...  female  24.00      1      0  STON/O2. 31...   15.8500             NaN        S
143          144         0       3  Burke, Mr. ...    male  19.00      0      0          365222    6.7500             NaN        Q
144          145         0       2  Andrew, Mr....    male  18.00      0      0          231945   11.5000             NaN        S
145          146         0       2  Nicholls, M...    male  19.00      1      1      C.A. 33112   36.7500             NaN        S
146          147         1       3  Andersson, ...    male  27.00      0      0          350043    7.7958             NaN        S
147          148         0       3  Ford, Miss....  female   9.00      2      2      W./C. 6608   34.3750             NaN        S
148          149         0       2  Navratil, M...    male  36.50      0      2          230080   26.0000              F2        S
149          150         0       2  Byles, Rev....    male  42.00      0      0          244310   13.0000             NaN        S
150          151         0       2  Bateman, Re...    male  51.00      0      0     S.O.P. 1166   12.5250             NaN        S

In [53]:
titanic_df

     index  PassengerId  Survived  Pclass            Name     Sex    Age  SibSp  Parch          Ticket      Fare           Cabin Embarked
0        0            1         0       3  Braund, Mr....    male  22.00      1      0       A/5 21171    7.2500             NaN        S
1        1            2         1       1  Cumings, Mr...  female  38.00      1      0        PC 17599   71.2833             C85        C
2        2            3         1       3  Heikkinen, ...  female  26.00      0      0  STON/O2. 31...    7.9250             NaN        S
3        3            4         1       1  Futrelle, M...  female  35.00      1      0          113803   53.1000            C123        S
4        4            5         0       3  Allen, Mr. ...    male  35.00      0      0          373450    8.0500             NaN        S
5        5            6         0       3  Moran, Mr. ...    male    NaN      0      0          330877    8.4583             NaN        Q
6        6            7         0       1  McCarthy, M...    male  54.00      0      0           17463   51.8625             E46        S
7        7            8         0       3  Palsson, Ma...    male   2.00      3      1          349909   21.0750             NaN        S
8        8            9         1       3  Johnson, Mr...  female  27.00      0      2          347742   11.1333             NaN        S
9        9           10         1       2  Nasser, Mrs...  female  14.00      1      0          237736   30.0708             NaN        C
10      10           11         1       3  Sandstrom, ...  female   4.00      1      1         PP 9549   16.7000              G6        S
11      11           12         1       1  Bonnell, Mi...  female  58.00      0      0          113783   26.5500            C103        S
12      12           13         0       3  Saundercock...    male  20.00      0      0       A/5. 2151    8.0500             NaN        S
13      13           14         0       3  Andersson, ...    male  39.00      1      5          347082   31.2750             NaN        S
14      14           15         0       3  Vestrom, Mi...  female  14.00      0      0          350406    7.8542             NaN        S
15      15           16         1       2  Hewlett, Mr...  female  55.00      0      0          248706   16.0000             NaN        S
16      16           17         0       3  Rice, Maste...    male   2.00      4      1          382652   29.1250             NaN        Q
17      17           18         1       2  Williams, M...    male    NaN      0      0          244373   13.0000             NaN        S
18      18           19         0       3  Vander Plan...  female  31.00      1      0          345763   18.0000             NaN        S
19      19           20         1       3  Masselmani,...  female    NaN      0      0            2649    7.2250             NaN        C
20      20           21         0       2  Fynney, Mr....    male  35.00      0      0          239865   26.0000             NaN        S
21      21           22         1       2  Beesley, Mr...    male  34.00      0      0          248698   13.0000             D56        S
22      22           23         1       3  McGowan, Mi...  female  15.00      0      0          330923    8.0292             NaN        Q
23      23           24         1       1  Sloper, Mr....    male  28.00      0      0          113788   35.5000              A6        S
24      24           25         0       3  Palsson, Mi...  female   8.00      3      1          349909   21.0750             NaN        S
25      25           26         1       3  Asplund, Mr...  female  38.00      1      5          347077   31.3875             NaN        S
26      26           27         0       3  Emir, Mr. F...    male    NaN      0      0            2631    7.2250             NaN        C
27      27           28         0       1  Fortune, Mr...    male  19.00      3      2           19950  263.0000     C23 C25 C27        S
28      28           29         1       3  O'Dwyer, Mi...  female    NaN      0      0          330959    7.8792             NaN        Q
29      29           30         0       3  Todoroff, M...    male    NaN      0      0          349216    7.8958             NaN        S
30      30           31         0       1  Uruchurtu, ...    male  40.00      0      0        PC 17601   27.7208             NaN        C
31      31           32         1       1  Spencer, Mr...  female    NaN      1      0        PC 17569  146.5208             B78        C
32      32           33         1       3  Glynn, Miss...  female    NaN      0      0          335677    7.7500             NaN        Q
33      33           34         0       2  Wheadon, Mr...    male  66.00      0      0      C.A. 24579   10.5000             NaN        S
34      34           35         0       1  Meyer, Mr. ...    male  28.00      1      0        PC 17604   82.1708             NaN        C
35      35           36         0       1  Holverson, ...    male  42.00      1      0          113789   52.0000             NaN        S
36      36           37         1       3  Mamee, Mr. ...    male    NaN      0      0            2677    7.2292             NaN        C
37      37           38         0       3  Cann, Mr. E...    male  21.00      0      0      A./5. 2152    8.0500             NaN        S
38      38           39         0       3  Vander Plan...  female  18.00      2      0          345764   18.0000             NaN        S
39      39           40         1       3  Nicola-Yarr...  female  14.00      1      0            2651   11.2417             NaN        C
40      40           41         0       3  Ahlin, Mrs....  female  40.00      1      0            7546    9.4750             NaN        S
41      41           42         0       2  Turpin, Mrs...  female  27.00      1      0           11668   21.0000             NaN        S
42      42           43         0       3  Kraeff, Mr....    male    NaN      0      0          349253    7.8958             NaN        C
43      43           44         1       2  Laroche, Mi...  female   3.00      1      2   SC/Paris 2123   41.5792             NaN        C
44      44           45         1       3  Devaney, Mi...  female  19.00      0      0          330958    7.8792             NaN        Q
45      45           46         0       3  Rogers, Mr....    male    NaN      0      0  S.C./A.4. 2...    8.0500             NaN        S
46      46           47         0       3  Lennon, Mr....    male    NaN      1      0          370371   15.5000             NaN        Q
47      47           48         1       3  O'Driscoll,...  female    NaN      0      0           14311    7.7500             NaN        Q
48      48           49         0       3  Samaan, Mr....    male    NaN      2      0            2662   21.6792             NaN        C
49      49           50         0       3  Arnold-Fran...  female  18.00      1      0          349237   17.8000             NaN        S
50      50           51         0       3  Panula, Mas...    male   7.00      4      1         3101295   39.6875             NaN        S
51      51           52         0       3  Nosworthy, ...    male  21.00      0      0      A/4. 39886    7.8000             NaN        S
52      52           53         1       1  Harper, Mrs...  female  49.00      1      0        PC 17572   76.7292             D33        C
53      53           54         1       2  Faunthorpe,...  female  29.00      1      0            2926   26.0000             NaN        S
54      54           55         0       1  Ostby, Mr. ...    male  65.00      0      1          113509   61.9792             B30        C
55      55           56         1       1  Woolner, Mr...    male    NaN      0      0           19947   35.5000             C52        S
56      56           57         1       2  Rugg, Miss....  female  21.00      0      0      C.A. 31026   10.5000             NaN        S
57      57           58         0       3  Novel, Mr. ...    male  28.50      0      0            2697    7.2292             NaN        C
58      58           59         1       2  West, Miss....  female   5.00      1      2      C.A. 34651   27.7500             NaN        S
59      59           60         0       3  Goodwin, Ma...    male  11.00      5      2         CA 2144   46.9000             NaN        S
60      60           61         0       3  Sirayanian,...    male  22.00      0      0            2669    7.2292             NaN        C
61      61           62         1       1  Icard, Miss...  female  38.00      0      0          113572   80.0000             B28      NaN
62      62           63         0       1  Harris, Mr....    male  45.00      1      0           36973   83.4750             C83        S
63      63           64         0       3  Skoog, Mast...    male   4.00      3      2          347088   27.9000             NaN        S
64      64           65         0       1  Stewart, Mr...    male    NaN      0      0        PC 17605   27.7208             NaN        C
65      65           66         1       3  Moubarek, M...    male    NaN      1      1            2661   15.2458             NaN        C
66      66           67         1       2  Nye, Mrs. (...  female  29.00      0      0      C.A. 29395   10.5000             F33        S
67      67           68         0       3  Crease, Mr....    male  19.00      0      0       S.P. 3464    8.1583             NaN        S
68      68           69         1       3  Andersson, ...  female  17.00      4      2         3101281    7.9250             NaN        S
69      69           70         0       3  Kink, Mr. V...    male  26.00      2      0          315151    8.6625             NaN        S
70      70           71         0       2  Jenkin, Mr....    male  32.00      0      0      C.A. 33111   10.5000             NaN        S
71      71           72         0       3  Goodwin, Mi...  female  16.00      5      2         CA 2144   46.9000             NaN        S
72      72           73         0       2  Hood, Mr. A...    male  21.00      0      0    S.O.C. 14879   73.5000             NaN        S
73      73           74         0       3  Chronopoulo...    male  26.00      1      0            2680   14.4542             NaN        C
74      74           75         1       3   Bing, Mr. Lee    male  32.00      0      0            1601   56.4958             NaN        S
75      75           76         0       3  Moen, Mr. S...    male  25.00      0      0          348123    7.6500           F G73        S
76      76           77         0       3  Staneff, Mr...    male    NaN      0      0          349208    7.8958             NaN        S
77      77           78         0       3  Moutal, Mr....    male    NaN      0      0          374746    8.0500             NaN        S
78      78           79         1       2  Caldwell, M...    male   0.83      0      2          248738   29.0000             NaN        S
79      79           80         1       3  Dowdell, Mi...  female  30.00      0      0          364516   12.4750             NaN        S
80      80           81         0       3  Waelens, Mr...    male  22.00      0      0          345767    9.0000             NaN        S
81      81           82         1       3  Sheerlinck,...    male  29.00      0      0          345779    9.5000             NaN        S
82      82           83         1       3  McDermott, ...  female    NaN      0      0          330932    7.7875             NaN        Q
83      83           84         0       1  Carrau, Mr....    male  28.00      0      0          113059   47.1000             NaN        S
84      84           85         1       2  Ilett, Miss...  female  17.00      0      0      SO/C 14885   10.5000             NaN        S
85      85           86         1       3  Backstrom, ...  female  33.00      3      0         3101278   15.8500             NaN        S
86      86           87         0       3  Ford, Mr. W...    male  16.00      1      3      W./C. 6608   34.3750             NaN        S
87      87           88         0       3  Slocovski, ...    male    NaN      0      0  SOTON/OQ 39...    8.0500             NaN        S
88      88           89         1       1  Fortune, Mi...  female  23.00      3      2           19950  263.0000     C23 C25 C27        S
89      89           90         0       3  Celotti, Mr...    male  24.00      0      0          343275    8.0500             NaN        S
90      90           91         0       3  Christmann,...    male  29.00      0      0          343276    8.0500             NaN        S
91      91           92         0       3  Andreasson,...    male  20.00      0      0          347466    7.8542             NaN        S
92      92           93         0       1  Chaffee, Mr...    male  46.00      1      0     W.E.P. 5734   61.1750             E31        S
93      93           94         0       3  Dean, Mr. B...    male  26.00      1      2       C.A. 2315   20.5750             NaN        S
94      94           95         0       3  Coxon, Mr. ...    male  59.00      0      0          364500    7.2500             NaN        S
95      95           96         0       3  Shorney, Mr...    male    NaN      0      0          374910    8.0500             NaN        S
96      96           97         0       1  Goldschmidt...    male  71.00      0      0        PC 17754   34.6542              A5        C
97      97           98         1       1  Greenfield,...    male  23.00      0      1        PC 17759   63.3583         D10 D12        C
98      98           99         1       2  Doling, Mrs...  female  34.00      0      1          231919   23.0000             NaN        S
99      99          100         0       2  Kantor, Mr....    male  34.00      1      0          244367   26.0000             NaN        S
100    100          101         0       3  Petranec, M...  female  28.00      0      0          349245    7.8958             NaN        S
101    101          102         0       3  Petroff, Mr...    male    NaN      0      0          349215    7.8958             NaN        S
102    102          103         0       1  White, Mr. ...    male  21.00      0      1           35281   77.2875             D26        S
103    103          104         0       3  Johansson, ...    male  33.00      0      0            7540    8.6542             NaN        S
104    104          105         0       3  Gustafsson,...    male  37.00      2      0         3101276    7.9250             NaN        S
105    105          106         0       3  Mionoff, Mr...    male  28.00      0      0          349207    7.8958             NaN        S
106    106          107         1       3  Salkjelsvik...  female  21.00      0      0          343120    7.6500             NaN        S
107    107          108         1       3  Moss, Mr. A...    male    NaN      0      0          312991    7.7750             NaN        S
108    108          109         0       3  Rekic, Mr. ...    male  38.00      0      0          349249    7.8958             NaN        S
109    109          110         1       3  Moran, Miss...  female    NaN      1      0          371110   24.1500             NaN        Q
110    110          111         0       1  Porter, Mr....    male  47.00      0      0          110465   52.0000            C110        S
111    111          112         0       3  Zabour, Mis...  female  14.50      1      0            2665   14.4542             NaN        C
112    112          113         0       3  Barton, Mr....    male  22.00      0      0          324669    8.0500             NaN        S
113    113          114         0       3  Jussila, Mi...  female  20.00      1      0            4136    9.8250             NaN        S
114    114          115         0       3  Attalah, Mi...  female  17.00      0      0            2627   14.4583             NaN        C
115    115          116         0       3  Pekoniemi, ...    male  21.00      0      0  STON/O 2. 3...    7.9250             NaN        S
116    116          117         0       3  Connors, Mr...    male  70.50      0      0          370369    7.7500             NaN        Q
117    117          118         0       2  Turpin, Mr....    male  29.00      1      0           11668   21.0000             NaN        S
118    118          119         0       1  Baxter, Mr....    male  24.00      0      1        PC 17558  247.5208         B58 B60        C
119    119          120         0       3  Andersson, ...  female   2.00      4      2          347082   31.2750             NaN        S
120    120          121         0       2  Hickman, Mr...    male  21.00      2      0    S.O.C. 14879   73.5000             NaN        S
121    121          122         0       3  Moore, Mr. ...    male    NaN      0      0       A4. 54510    8.0500             NaN        S
122    122          123         0       2  Nasser, Mr....    male  32.50      1      0          237736   30.0708             NaN        C
123    123          124         1       2  Webber, Mis...  female  32.50      0      0           27267   13.0000            E101        S
124    124          125         0       1  White, Mr. ...    male  54.00      0      1           35281   77.2875             D26        S
125    125          126         1       3  Nicola-Yarr...    male  12.00      1      0            2651   11.2417             NaN        C
126    126          127         0       3  McMahon, Mr...    male    NaN      0      0          370372    7.7500             NaN        Q
127    127          128         1       3  Madsen, Mr....    male  24.00      0      0         C 17369    7.1417             NaN        S
128    128          129         1       3  Peter, Miss...  female    NaN      1      1            2668   22.3583           F E69        C
129    129          130         0       3  Ekstrom, Mr...    male  45.00      0      0          347061    6.9750             NaN        S
130    130          131         0       3  Drazenoic, ...    male  33.00      0      0          349241    7.8958             NaN        C
131    131          132         0       3  Coelho, Mr....    male  20.00      0      0  SOTON/O.Q. ...    7.0500             NaN        S
132    132          133         0       3  Robins, Mrs...  female  47.00      1      0       A/5. 3337   14.5000             NaN        S
133    133          134         1       2  Weisz, Mrs....  female  29.00      1      0          228414   26.0000             NaN        S
134    134          135         0       2  Sobey, Mr. ...    male  25.00      0      0      C.A. 29178   13.0000             NaN        S
135    135          136         0       2  Richard, Mr...    male  23.00      0      0   SC/PARIS 2133   15.0458             NaN        C
136    136          137         1       1  Newsom, Mis...  female  19.00      0      2           11752   26.2833             D47        S
137    137          138         0       1  Futrelle, M...    male  37.00      1      0          113803   53.1000            C123        S
138    138          139         0       3  Osen, Mr. O...    male  16.00      0      0            7534    9.2167             NaN        S
139    139          140         0       1  Giglio, Mr....    male  24.00      0      0        PC 17593   79.2000             B86        C
140    140          141         0       3  Boulos, Mrs...  female    NaN      0      2            2678   15.2458             NaN        C
141    141          142         1       3  Nysten, Mis...  female  22.00      0      0          347081    7.7500             NaN        S
142    142          143         1       3  Hakkarainen...  female  24.00      1      0  STON/O2. 31...   15.8500             NaN        S

In [55]:
titanic_df['Pclass'].value_counts()

3    491
1    216
2    184
Name: Pclass, dtype: int64

In [56]:
titanic_df['Pclass'].value_counts().reset_index()

   index  Pclass
0      3     491
1      1     216
2      2     184

In [57]:
new_value_count_01=titanic_df['Pclass'].value_counts().reset_index()

In [58]:
new_value_count_01

   index  Pclass
0      3     491
1      1     216
2      2     184

In [59]:
new_value_count_01.rename(columns={'index':'Pclass', 'Pclass':'Pclass_count'})

   Pclass  Pclass_count
0       3           491
1       1           216
2       2           184

In [60]:
# DataFrame객체에서 []연산자내에 한개의 컬럼만 입력하면 Series 객체를 반환 
series = titanic_df['Name']

In [64]:
print(series.head(3))
print("## type:",type(series), 'shape:', series.shape)

0    Braund, Mr....
1    Cumings, Mr...
2    Heikkinen, ...
Name: Name, dtype: object
## type: <class 'pandas.core.series.Series'> shape: (891,)

In [67]:
# DataFrame객체에서 []연산자내에 한개의 컬럼을 리스트로 입력하면 한개의 컬럼으로 구성된 DataFrame 반환 
filtered_df = titanic_df[['Name', 'Age']]
display(filtered_df.head(3))
print("## type:", type(filtered_df), 'shape:', filtered_df.shape)

             Name   Age
0  Braund, Mr....  22.0
1  Cumings, Mr...  38.0
2  Heikkinen, ...  26.0

## type: <class 'pandas.core.frame.DataFrame'> shape: (891, 2)

In [68]:
# DataFrame객체에서 []연산자내에 한개의 컬럼을 리스트로 입력하면 한개의 컬럼으로 구성된 DataFrame 반환 
one_col_df = titanic_df[['Name']]
display(one_col_df.head(3))
print("## type:", type(one_col_df), 'shape:', one_col_df.shape)

             Name
0  Braund, Mr....
1  Cumings, Mr...
2  Heikkinen, ...

## type: <class 'pandas.core.frame.DataFrame'> shape: (891, 1)

In [73]:
titanic_df[0:7]

   index  PassengerId  Survived  Pclass            Name     Sex   Age  SibSp  Parch          Ticket     Fare Cabin Embarked
0      0            1         0       3  Braund, Mr....    male  22.0      1      0       A/5 21171   7.2500   NaN        S
1      1            2         1       1  Cumings, Mr...  female  38.0      1      0        PC 17599  71.2833   C85        C
2      2            3         1       3  Heikkinen, ...  female  26.0      0      0  STON/O2. 31...   7.9250   NaN        S
3      3            4         1       1  Futrelle, M...  female  35.0      1      0          113803  53.1000  C123        S
4      4            5         0       3  Allen, Mr. ...    male  35.0      0      0          373450   8.0500   NaN        S
5      5            6         0       3  Moran, Mr. ...    male   NaN      0      0          330877   8.4583   NaN        Q
6      6            7         0       1  McCarthy, M...    male  54.0      0      0           17463  51.8625   E46        S

In [74]:
titanic_df[ titanic_df['Pclass'] == 3].head(3) #Pclass==3 data  출력

   index  PassengerId  Survived  Pclass            Name     Sex   Age  SibSp  Parch          Ticket   Fare Cabin Embarked
0      0            1         0       3  Braund, Mr....    male  22.0      1      0       A/5 21171  7.250   NaN        S
2      2            3         1       3  Heikkinen, ...  female  26.0      0      0  STON/O2. 31...  7.925   NaN        S
4      4            5         0       3  Allen, Mr. ...    male  35.0      0      0          373450  8.050   NaN        S

In [75]:
titanic_df[ titanic_df['Sex'] =='male'].head(3)

   index  PassengerId  Survived  Pclass            Name   Sex   Age  SibSp  Parch     Ticket    Fare Cabin Embarked
0      0            1         0       3  Braund, Mr....  male  22.0      1      0  A/5 21171  7.2500   NaN        S
4      4            5         0       3  Allen, Mr. ...  male  35.0      0      0     373450  8.0500   NaN        S
5      5            6         0       3  Moran, Mr. ...  male   NaN      0      0     330877  8.4583   NaN        Q

In [78]:
titanic_df[ titanic_df['Sex'] =='female'].head(10)

    index  PassengerId  Survived  Pclass            Name     Sex   Age  SibSp  Parch          Ticket     Fare Cabin Embarked
1       1            2         1       1  Cumings, Mr...  female  38.0      1      0        PC 17599  71.2833   C85        C
2       2            3         1       3  Heikkinen, ...  female  26.0      0      0  STON/O2. 31...   7.9250   NaN        S
3       3            4         1       1  Futrelle, M...  female  35.0      1      0          113803  53.1000  C123        S
8       8            9         1       3  Johnson, Mr...  female  27.0      0      2          347742  11.1333   NaN        S
9       9           10         1       2  Nasser, Mrs...  female  14.0      1      0          237736  30.0708   NaN        C
10     10           11         1       3  Sandstrom, ...  female   4.0      1      1         PP 9549  16.7000    G6        S
11     11           12         1       1  Bonnell, Mi...  female  58.0      0      0          113783  26.5500  C103        S
14     14           15         0       3  Vestrom, Mi...  female  14.0      0      0          350406   7.8542   NaN        S
15     15           16         1       2  Hewlett, Mr...  female  55.0      0      0          248706  16.0000   NaN        S
18     18           19         0       3  Vander Plan...  female  31.0      1      0          345763  18.0000   NaN        S

In [93]:
titanic_df[((titanic_df['Sex']=='female')|(titanic_df['Sex']=='male'))&(titanic_df['PassengerId']>=800)].head(50)

     index  PassengerId  Survived  Pclass            Name     Sex    Age  SibSp  Parch          Ticket      Fare    Cabin Embarked
799    799          800         0       3  Van Impe, M...  female  30.00      1      1          345773   24.1500      NaN        S
800    800          801         0       2  Ponesell, M...    male  34.00      0      0          250647   13.0000      NaN        S
801    801          802         1       2  Collyer, Mr...  female  31.00      1      1      C.A. 31921   26.2500      NaN        S
802    802          803         1       1  Carter, Mas...    male  11.00      1      2          113760  120.0000  B96 B98        S
803    803          804         1       3  Thomas, Mas...    male   0.42      0      1            2625    8.5167      NaN        C
804    804          805         1       3  Hedman, Mr....    male  27.00      0      0          347089    6.9750      NaN        S
805    805          806         0       3  Johansson, ...    male  31.00      0      0          347063    7.7750      NaN        S
806    806          807         0       1  Andrews, Mr...    male  39.00      0      0          112050    0.0000      A36        S
807    807          808         0       3  Pettersson,...  female  18.00      0      0          347087    7.7750      NaN        S
808    808          809         0       2  Meyer, Mr. ...    male  39.00      0      0          248723   13.0000      NaN        S
809    809          810         1       1  Chambers, M...  female  33.00      1      0          113806   53.1000       E8        S
810    810          811         0       3  Alexander, ...    male  26.00      0      0            3474    7.8875      NaN        S
811    811          812         0       3  Lester, Mr....    male  39.00      0      0       A/4 48871   24.1500      NaN        S
812    812          813         0       2  Slemen, Mr....    male  35.00      0      0           28206   10.5000      NaN        S
813    813          814         0       3  Andersson, ...  female   6.00      4      2          347082   31.2750      NaN        S
814    814          815         0       3  Tomlin, Mr....    male  30.50      0      0          364499    8.0500      NaN        S
815    815          816         0       1  Fry, Mr. Ri...    male    NaN      0      0          112058    0.0000     B102        S
816    816          817         0       3  Heininen, M...  female  23.00      0      0  STON/O2. 31...    7.9250      NaN        S
817    817          818         0       2  Mallet, Mr....    male  31.00      1      1  S.C./PARIS ...   37.0042      NaN        C
818    818          819         0       3  Holm, Mr. J...    male  43.00      0      0          C 7075    6.4500      NaN        S
819    819          820         0       3  Skoog, Mast...    male  10.00      3      2          347088   27.9000      NaN        S
820    820          821         1       1  Hays, Mrs. ...  female  52.00      1      1           12749   93.5000      B69        S
821    821          822         1       3  Lulic, Mr. ...    male  27.00      0      0          315098    8.6625      NaN        S
822    822          823         0       1  Reuchlin, J...    male  38.00      0      0           19972    0.0000      NaN        S
823    823          824         1       3  Moor, Mrs. ...  female  27.00      0      1          392096   12.4750     E121        S
824    824          825         0       3  Panula, Mas...    male   2.00      4      1         3101295   39.6875      NaN        S
825    825          826         0       3  Flynn, Mr. ...    male    NaN      0      0          368323    6.9500      NaN        Q
826    826          827         0       3    Lam, Mr. Len    male    NaN      0      0            1601   56.4958      NaN        S
827    827          828         1       2  Mallet, Mas...    male   1.00      0      2  S.C./PARIS ...   37.0042      NaN        C
828    828          829         1       3  McCormack, ...    male    NaN      0      0          367228    7.7500      NaN        Q
829    829          830         1       1  Stone, Mrs....  female  62.00      0      0          113572   80.0000      B28      NaN
830    830          831         1       3  Yasbeck, Mr...  female  15.00      1      0            2659   14.4542      NaN        C
831    831          832         1       2  Richards, M...    male   0.83      1      1           29106   18.7500      NaN        S
832    832          833         0       3  Saad, Mr. Amin    male    NaN      0      0            2671    7.2292      NaN        C
833    833          834         0       3  Augustsson,...    male  23.00      0      0          347468    7.8542      NaN        S
834    834          835         0       3  Allum, Mr. ...    male  18.00      0      0            2223    8.3000      NaN        S
835    835          836         1       1  Compton, Mi...  female  39.00      1      1        PC 17756   83.1583      E49        C
836    836          837         0       3  Pasic, Mr. ...    male  21.00      0      0          315097    8.6625      NaN        S
837    837          838         0       3  Sirota, Mr....    male    NaN      0      0          392092    8.0500      NaN        S
838    838          839         1       3  Chip, Mr. C...    male  32.00      0      0            1601   56.4958      NaN        S
839    839          840         1       1  Marechal, M...    male    NaN      0      0           11774   29.7000      C47        C
840    840          841         0       3  Alhomaki, M...    male  20.00      0      0  SOTON/O2 31...    7.9250      NaN        S
841    841          842         0       2  Mudd, Mr. T...    male  16.00      0      0     S.O./P.P. 3   10.5000      NaN        S
842    842          843         1       1  Serepeca, M...  female  30.00      0      0          113798   31.0000      NaN        C
843    843          844         0       3  Lemberopolo...    male  34.50      0      0            2683    6.4375      NaN        C
844    844          845         0       3  Culumovic, ...    male  17.00      0      0          315090    8.6625      NaN        S
845    845          846         0       3  Abbing, Mr....    male  42.00      0      0       C.A. 5547    7.5500      NaN        S
846    846          847         0       3  Sage, Mr. D...    male    NaN      8      2        CA. 2343   69.5500      NaN        S
847    847          848         0       3  Markoff, Mr...    male  35.00      0      0          349213    7.8958      NaN        C
848    848          849         0       2  Harper, Rev...    male  28.00      0      1          248727   33.0000      NaN        S

In [95]:
# Data Dictionary

# Survived : 0 = 사망, 1 = 생존
# Pclass : 1 = 1등석, 2 = 2등석, 3 = 3등석
# Sex : male = 남성, female = 여성
# Age : 나이
# SibSp : 타이타닉 호에 동승한 자매 / 배우자의 수
# Parch : 타이타닉 호에 동승한 부모 / 자식의 수
# Ticket : 티켓 번호
# Fare : 승객 요금
# Cabin : 방 호수
# Embarked : 탑승지, C = 셰르부르, Q = 퀸즈타운, S = 사우샘프턴